In [52]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re
import unicodedata
import os
import webbrowser
import html5lib
from openpyxl import workbook
from datetime import datetime
import requests
from fuzzywuzzy import process
import time
from icecream import ic

In [53]:
path = '../Master_tables_GSBD_Investment.xlsx'
xls = pd.ExcelFile(path)
all_sheets = pd.read_excel(path, keep_default_na=False,
                           na_values=['_'], sheet_name=None)


dataframes = {}
# Loop through each sheet and create a DataFrame in the dictionary
for sheet_name, sheet_df in all_sheets.items():
    dataframes[sheet_name.replace(' ', '_')] = sheet_df
    print(f"DataFrame name: {sheet_name} : {sheet_df.shape}")

DataFrame name: September 30 2023 : (425, 18)
DataFrame name: June 30 2023 : (413, 16)
DataFrame name: March 31 2023 : (395, 16)
DataFrame name: December 31 2022 : (345, 16)
DataFrame name: September 30 2022 : (341, 16)
DataFrame name: June 30 2022 : (382, 33)
DataFrame name: March 31 2022 : (321, 16)
DataFrame name: December 31 2021 : (365, 16)
DataFrame name: September 30 2021 : (318, 16)
DataFrame name: June 30 2021 : (312, 18)
DataFrame name: March 31 2021 : (307, 19)
DataFrame name: December 31 2020 : (49, 17)
DataFrame name: September 30 2020 : (246, 16)
DataFrame name: June 30 2020 : (229, 11)
DataFrame name: March 31 2020 : (236, 8)
DataFrame name: December 31 2019 : (200, 25)
DataFrame name: September 30 2019 : (225, 23)
DataFrame name: June 30 2019 : (213, 23)
DataFrame name: March 31 2019 : (176, 21)
DataFrame name: December 31 2018 : (166, 21)
DataFrame name: September 30 2018 : (153, 23)
DataFrame name: June 30 2018 : (129, 23)
DataFrame name: March 31 2018 : (81, 25)
DataFrame name: December 31 2017 : (99, 21)
DataFrame name: September 30 2017 : (100, 21)
DataFrame name: June 30 2017 : (94, 21)
DataFrame name: March 31 2017 : (45, 19)
DataFrame name: December 31 2016 : (55, 21)
DataFrame name: September 30 2016 : (74, 21)
DataFrame name: June 30 2016 : (40, 21)
DataFrame name: March 31 2016 : (71, 21)
DataFrame name: December 31 2015 : (93, 21)
DataFrame name: September 30 2015 : (45, 21)
DataFrame name: June 30 2015 : (44, 21)
DataFrame name: March 31 2015 : (52, 21)

In [54]:
# def timer(func):
#     def wrapper():
#         t1 = time.time()
#         func()
#         t2 = time.time() - t1
#         print(f'{func.__name__} takes {t2} sec to run')
#     return wrapper

In [55]:
process_tables = {}
process_tables_shape = {}

if not os.path.exists("../PT_csv_files"):
    os.mkdir('../PT_csv_files')

headers = {}


def run_process_function(dataframes, process_tables, process_tables_shape):
    path = '../process_tables_GSBD_Investment.xlsx'
    writer = pd.ExcelWriter(path=path, engine='openpyxl')
    for dataframe in dataframes:
        print(dataframe)
        processed_table = process_table_function(dataframes[dataframe])
        process_tables[dataframe] = processed_table
        process_tables_shape[dataframe] = processed_table.shape
        headers[dataframe] = processed_table.columns.values
        processed_table.to_excel(
            writer, sheet_name=dataframe.replace(',', ''), index=False)
        processed_table.to_csv(
            '../PT_csv_files/'+dataframe.replace(',', '')+'.csv')

        writer.book.save(path)
    writer.close()


def shape(count, df) -> int:
    print(f"{count} : shape : {df.shape}")
    count += 1
    return count


def dropna_col_row(df) -> pd.DataFrame:
    df = df.dropna(how='all', axis=0).reset_index(drop=True)
    df = df.dropna(how='all', axis=1).reset_index(drop=True)
    return df


def drop_if_contain(pattern, df) -> pd.DataFrame:
    matching_rows = df.apply(
        lambda row: row.str.contains(pattern, flags=re.IGNORECASE, regex=True).any(), axis=1)
    df = df[~matching_rows]
    return df

In [56]:
dataframes.pop('December_31_2020')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,ITEM 1.,FINANCIAL STATEMENTS,,,,,,,,,,,,,,,
1,ITEM 1.,FINANCIAL STATEMENTS,,,,,,,,,,,,,,,
2,Investment *,Industry,InterestRate (+),Reference Rate andSpread (+),Floor (+),,Maturity,ParAmount/Shares(++),,Cost,,Fair Value,,,,,
3,1st Lien/Senior Secured Debt* #- 156.46,,,,,,,,,,,,,,,,
4,1272775 B.C. LTD. (dba Everest Clinical Resear...,Professional Services,6.50,L + 5.50,1.00,,11/06/26,,9430,,,9292,,,9289,,
5,1272775 B.C. LTD. (dba Everest Clinical Resear...,Professional Services,,L + 5.50,1.00,,11/06/26,,1260,,,(18,,,(19,,
6,"3SI Security Systems, Inc.(4)",Commercial Services & Supplies,6.75,L + 5.75,1.00,,06/16/23,,14556,,,14465,,,14483,,
7,"3SI Security Systems, Inc.(4)",Commercial Services & Supplies,6.75,L + 5.75,1.00,,06/16/23,,2216,,,2075,,,2205,,
8,"A Place For Mom, Inc.",Diversified Consumer Services,4.75,L + 3.75,1.00,,08/10/24,,8752,,,8746,,,8052,,
9,"Acquia, Inc.(2) (4)",Software,8.00,L + 7.00,1.00,,10/31/25,,30561,,,28977,,,30026,,
10,"Acquia, Inc.(2) (3) (4)",Software,,L + 7.00,1.00,,10/31/25,,3268,,,(77,,,(57,,
11,"Ansira Partners, Inc.",Professional Services,7.50,L + 6.50PIK,1.00,,12/20/24,,4748,,,4726,,,3988,,
12,"Ansira Partners, Inc.",Professional Services,7.50,L + 6.50PIK,1.00,,12/20/24,,292,,,291,,,245,,
13,"Apptio, Inc.(2) (4)",IT Services,8.25,L + 7.25,1.00,,01/10/25,,79154,,,75824,,,77967,,
14,"Apptio, Inc.(2) (3) (4)",IT Services,,L + 7.25,1.00,,01/10/25,,5385,,,(75,,,(81,,
15,"Associations, Inc.(2) (4)",Real Estate Management & Development,8.00,L + 7.00(incl. 3.00PIK),1.00,,07/30/24,,33860,,,32095,,,33013,,
16,"Associations, Inc.(2) (3) (4)",Real Estate Management & Development,8.00,L + 7.00(incl. 3.00PIK),1.00,,07/30/24,,7396,,,7102,,,7104,,
17,"Associations, Inc.(2) (4)",Real Estate Management & Development,7.00,L + 6.00,1.00,,07/30/24,,1422,,,1348,,,1387,,
18,ATX Networks Corp.,Communications Equipment,8.75,L + 7.75(incl. 1.50PIK),1.00,,12/31/23,,7183,,,7162,,,6321,,
19,ATX Networks Corp.,Communications Equipment,8.75,L + 7.75(incl. 1.50PIK),1.00,,12/31/23,,457,,,452,,,402,,
20,"Badger Sportswear, Inc.","Textiles, Apparel & Luxury Goods",6.25,L + 5.00,1.00,,09/11/23,,7150,,,7106,,,6292,,
21,"Barbri, Inc.",Diversified Consumer Services,5.00,L + 4.00,1.00,,12/01/23,,6243,,,6227,,,5931,,
22,BJH Holdings III Corp. (dba Jack’s Family Rest...,"Hotels, Restaurants & Leisure",6.25,L + 5.25,1.00,,08/19/25,,14904,,,14065,,,14270,,
23,"Blacksmith Applications, Inc.(2)",Software,7.50,L + 6.50,1.00,,12/02/26,,25100,,,24542,,,24535,,
24,"Blacksmith Applications, Inc.(2) (3)",Software,,L + 6.50,1.00,,12/02/26,,2000,,,(44,,,(45,,
25,"Brillio, LLC(2) (4)",IT Services,5.75,L + 4.75,1.00,,02/06/25,,10953,,,10478,,,10871,,
26,"Brillio, LLC(2) (3) (4)",IT Services,5.75,L + 4.75,1.00,,02/06/25,,3710,,,1808,,,1827,,
27,"Bullhorn, Inc.(2) (4)",Professional Services,6.75,L + 5.75,1.00,,09/30/26,,26833,,,25653,,,26430,,
28,"Bullhorn, Inc.(2) (4)",Professional Services,6.75,L + 5.75,1.00,,09/30/26,,556,,,532,,,548,,
29,"Bullhorn, Inc.(2) (4)",Professional Services,6.75,L + 5.75,1.00,,09/30/26,,444,,,424,,,437,,
30,"Bullhorn, Inc.(2) (3) (4)",Professional Services,,L + 5.75,1.00,,09/30/26,,1232,,,(19,,,(18,,
31,"Bullhorn, Inc.(2) (3) (4)",Professional Services,,L + 5.75,1.00,,09/30/26,,1344,,,(21,,,(20,,
32,"Businessolver.com, Inc.(2) (4)",Health Care Technology,8.50,L + 7.50,1.00,,05/15/23,,42625,,,40448,,,42092,,
33,"Businessolver.com, Inc.(2) (4)",Health Care Technology,8.50,L + 7.50,1.00,,05/15/23,,11175,,,11003,,,11035,,
34,"Businessolver.com, Inc.(2) (4)",Health Care Technology,8.50,L + 7.50,1.00,,05/15/23,,6394,,,6066,,,6314,,
35,"Businessolver.com, Inc.(2) (3) (4)",Health Care Technology,,L + 7.50,1.00,,05/15/23,,5328,,,(101,,,(67,,
36,Capitol Imaging Acquisition Corp.(2),Health Care Providers & Services,7.50,L + 6.50,1.00,,10/01/26,,814,,,779,,,798,,
37,Capitol Imaging Acquisition Corp.(2) (3),Health Care Providers & Services,8.75,P + 5.50,,,,10/01/25,,180,,,19,,,19,
38,"CFS Management, LLC (dba Center for Sight Mana...",Health Care Providers & Services,6.50,L + 5.50,1.00,,07/01/24,,11671,,,11090,,,11409,,
39,"CFS Management, LLC (dba Center for Sight Mana...",Health Care Providers & Services,6.50,L + 5.50,1.00,,07/01/24,,3476,,,3303,,,3398,,
40,Chronicle Bidco Inc. (dba Lexitas)(2),Professional Services,7.00,L + 6.00,1.00,,11/14/25,,17127,,,16194,,,16699,,
41,Chronicle Bidco Inc. (dba Lexitas)(2),Professional Services,7.00,L + 6.00,1.00,,11/14/25,,11372,,,11095,,,11087,,
42,Chronicle Bidco Inc. (dba Lexitas)(2),Professional Services,7.00,L + 6.00,1.00,,11/14/25,,7214,,,6820,,,7034,,
43,Chronicle Bidco Inc. (dba Lexitas)(2) (3),Professional Services,7.00,L + 6.00,1.00,,11/14/25,,6318,,,89,,,(7,,
44,Chronicle Bidco Inc. (dba Lexitas)(2) (3),Professional Services,,L + 6.00,1.00,,11/14/25,,2180,,,(52,,,(55,,
45,"ConnectWise, LLC(2) (4)",IT Services,6.25,L + 5.25,1.00,,02/28/25,,33186,,,31844,,,32854,,
46,"ConnectWise, LLC(2) (3) (4)",IT Services,6.25,L + 5.25,1.00,,02/28/25,,2561,,,609,,,615,,
47,"Convene 237 Park Avenue, LLC (dba Convene)(2) (4)",Real Estate Management & Development,9.00,L + 7.50,1.50,,08/30/24,,52200,,,46177,,,41760,,
48,"Convene 237 Park Avenue, LLC (dba Convene)(2) (4)",Real Estate Management & Development,9.00,L + 7.50,1.50,,08/30/24,,15340,,,13563,,,12272,,

In [75]:

def process_table_function(soi_table_df) -> pd.DataFrame:
    count = 1
    count = shape(count, soi_table_df)
    soi_table_df = soi_table_df.replace(
        r'^\s*\$\s*$', '', regex=True).replace(r'\n', '', regex=True)
    soi_table_df = soi_table_df.replace('-', '0')
    soi_table_df = soi_table_df.replace('€', np.nan)
    soi_table_df = soi_table_df.replace('C$', np.nan)
    soi_table_df = soi_table_df.replace('£', np.nan)
    soi_table_df = soi_table_df.replace('CAD', np.nan)
    soi_table_df = dropna_col_row(soi_table_df)
    count = shape(count, soi_table_df)
    soi_table_df = soi_table_df.apply(
        lambda x: x.strip() if isinstance(x, str) else x)
    count = shape(count, soi_table_df)

    # drops all the extra top row
    pattern = r'Industry'
    matching_rows = soi_table_df.apply(
        lambda row: row.str.contains(pattern, flags=re.IGNORECASE, regex=True).any(), axis=1)
    # Check if the pattern exists in the DataFrame
    if matching_rows.any():
        # Extract rows from the first occurrence onwards
        soi_table_df = soi_table_df.iloc[matching_rows.idxmax():].reset_index(
            drop=True)
    count = shape(count, soi_table_df)

    # drops all the extra bottom row
    pattern = r'Total\s+Investments | Total\s+Common\s+Stock'
    # Use the apply function to check if the pattern is in any column for each row
    matching_rows = soi_table_df.apply(
        lambda row: row.str.contains(pattern, flags=re.IGNORECASE, regex=True).any(), axis=1)
    # Find the index of the first row that matches the pattern
    # Slice the DataFrame to keep only the rows up to and including the first matching row

    # if soi_table_df[matching_rows].index[0] < 20:
    #     soi_table_df = soi_table_df.loc[:soi_table_df[matching_rows].index[1]].reset_index(
    #         drop=True)
    # else:
    if matching_rows.any():
        # Extract rows from the first occurrence onwards
        soi_table_df = soi_table_df.iloc[:matching_rows.idxmax()].reset_index(
            drop=True)

    # soi_table_df = soi_table_df.loc[:soi_table_df[matching_rows].index[0]].reset_index(
    #     drop=True)
    count = shape(count, soi_table_df)

    count = shape(count, soi_table_df)

    return soi_table_df


run_process_function(dataframes=dataframes, process_tables=process_tables,
                     process_tables_shape=process_tables_shape)

September_30_2023
1 : shape : (425, 18)
2 : shape : (425, 18)
3 : shape : (425, 18)
4 : shape : (425, 18)
5 : shape : (419, 18)
6 : shape : (419, 18)
June_30_2023
1 : shape : (413, 16)
2 : shape : (413, 16)
3 : shape : (413, 16)
4 : shape : (413, 16)
5 : shape : (407, 16)
6 : shape : (407, 16)
March_31_2023
1 : shape : (395, 16)
2 : shape : (395, 16)
3 : shape : (395, 16)
4 : shape : (395, 16)
5 : shape : (389, 16)
6 : shape : (389, 16)
December_31_2022
1 : shape : (345, 16)
2 : shape : (345, 16)
3 : shape : (345, 16)
4 : shape : (345, 16)
5 : shape : (339, 16)
6 : shape : (339, 16)
September_30_2022
1 : shape : (341, 16)
2 : shape : (341, 16)
3 : shape : (341, 16)
4 : shape : (341, 16)
5 : shape : (337, 16)
6 : shape : (337, 16)
June_30_2022
1 : shape : (382, 33)
2 : shape : (382, 33)
3 : shape : (382, 33)
4 : shape : (382, 33)
5 : shape : (328, 33)
6 : shape : (328, 33)
March_31_2022
1 : shape : (321, 16)
2 : shape : (321, 16)
3 : shape : (321, 16)
4 : shape : (321, 16)
5 : shape : (304, 16)
6 : shape : (304, 16)
December_31_2021
1 : shape : (365, 16)
2 : shape : (365, 16)
3 : shape : (365, 16)
4 : shape : (299, 16)
5 : shape : (283, 16)
6 : shape : (283, 16)
September_30_2021
1 : shape : (318, 16)
2 : shape : (318, 16)
3 : shape : (318, 16)
4 : shape : (318, 16)
5 : shape : (301, 16)
6 : shape : (301, 16)
June_30_2021
1 : shape : (312, 18)
2 : shape : (312, 18)
3 : shape : (312, 18)
4 : shape : (312, 18)
5 : shape : (294, 18)
6 : shape : (294, 18)
March_31_2021
1 : shape : (307, 19)
2 : shape : (307, 19)
3 : shape : (307, 19)
4 : shape : (307, 19)
5 : shape : (286, 19)
6 : shape : (286, 19)
September_30_2020
1 : shape : (246, 16)
2 : shape : (246, 16)
3 : shape : (246, 16)
4 : shape : (245, 16)
5 : shape : (240, 16)
6 : shape : (240, 16)
June_30_2020
1 : shape : (229, 11)
2 : shape : (229, 11)
3 : shape : (229, 11)
4 : shape : (228, 11)
5 : shape : (228, 11)
6 : shape : (228, 11)
March_31_2020
1 : shape : (236, 8)
2 : shape : (236, 8)
3 : shape : (236, 8)
4 : shape : (235, 8)
5 : shape : (230, 8)
6 : shape : (230, 8)
December_31_2019
1 : shape : (200, 25)
2 : shape : (200, 25)
3 : shape : (200, 25)
4 : shape : (200, 25)
5 : shape : (200, 25)
6 : shape : (200, 25)
September_30_2019
1 : shape : (225, 23)
2 : shape : (225, 23)
3 : shape : (225, 23)
4 : shape : (224, 23)
5 : shape : (220, 23)
6 : shape : (220, 23)
June_30_2019
1 : shape : (213, 23)
2 : shape : (213, 23)
3 : shape : (213, 23)
4 : shape : (212, 23)
5 : shape : (208, 23)
6 : shape : (208, 23)
March_31_2019
1 : shape : (176, 21)
2 : shape : (176, 21)
3 : shape : (176, 21)
4 : shape : (175, 21)
5 : shape : (171, 21)
6 : shape : (171, 21)
December_31_2018
1 : shape : (166, 21)
2 : shape : (166, 21)
3 : shape : (166, 21)
4 : shape : (166, 21)
5 : shape : (158, 21)
6 : shape : (158, 21)
September_30_2018
1 : shape : (153, 23)
2 : shape : (153, 23)
3 : shape : (153, 23)
4 : shape : (152, 23)
5 : shape : (147, 23)
6 : shape : (147, 23)
June_30_2018
1 : shape : (129, 23)
2 : shape : (129, 23)
3 : shape : (129, 23)
4 : shape : (128, 23)
5 : shape : (123, 23)
6 : shape : (123, 23)
March_31_2018
1 : shape : (81, 25)
2 : shape : (81, 25)
3 : shape : (81, 25)
4 : shape : (80, 25)
5 : shape : (74, 25)
6 : shape : (74, 25)
December_31_2017
1 : shape : (99, 21)
2 : shape : (99, 21)
3 : shape : (99, 21)
4 : shape : (99, 21)
5 : shape : (95, 21)
6 : shape : (95, 21)
September_30_2017
1 : shape : (100, 21)
2 : shape : (100, 21)
3 : shape : (100, 21)
4 : shape : (99, 21)
5 : shape : (95, 21)
6 : shape : (95, 21)
June_30_2017
1 : shape : (94, 21)
2 : shape : (94, 21)
3 : shape : (94, 21)
4 : shape : (93, 21)
5 : shape : (88, 21)
6 : shape : (88, 21)
March_31_2017
1 : shape : (45, 19)
2 : shape : (45, 19)
3 : shape : (45, 19)
4 : shape : (44, 19)
5 : shape : (44, 19)
6 : shape : (44, 19)
December_31_2016
1 : shape : (55, 21)
2 : shape : (55, 21)
3 : shape : (55, 21)
4 : shape : (55, 21)
5 : shape : (55, 21)
6 : shape : (55, 21)
September_30_2016
1 : shape : (74, 21)
2 : shape : (74, 21)
3 : shape : (74, 21)
4 : shape : (73, 21)
5 : shape : (68, 21)
6 : shape : (68, 21)
June_30_2016
1 : shape : (40, 21)
2 : shape : (40, 21)
3 : shape : (40, 21)
4 : shape : (39, 21)
5 : shape : (39, 21)
6 : shape : (39, 21)
March_31_2016
1 : shape : (71, 21)
2 : shape : (71, 21)
3 : shape : (71, 21)
4 : shape : (70, 21)
5 : shape : (65, 21)
6 : shape : (65, 21)
December_31_2015
1 : shape : (93, 21)
2 : shape : (93, 21)
3 : shape : (93, 21)
4 : shape : (52, 21)
5 : shape : (52, 21)
6 : shape : (52, 21)
September_30_2015
1 : shape : (45, 21)
2 : shape : (45, 21)
3 : shape : (45, 21)
4 : shape : (44, 21)
5 : shape : (44, 21)
6 : shape : (44, 21)
June_30_2015
1 : shape : (44, 21)
2 : shape : (44, 21)
3 : shape : (44, 21)
4 : shape : (43, 21)
5 : shape : (43, 21)
6 : shape : (43, 21)
March_31_2015
1 : shape : (52, 21)
2 : shape : (52, 21)
3 : shape : (52, 21)
4 : shape : (51, 21)
5 : shape : (51, 21)
6 : shape : (51, 21)