In [5]:
from bs4 import BeautifulSoup
import re
import unicodedata
import pandas as pd
import numpy as np
import html5lib
import requests
from openpyxl import Workbook
from datetime import datetime
import webbrowser


def parse_and_trim(content, content_type):
    if content_type == 'HTML':
        soup = BeautifulSoup(content, 'html.parser')
    else:
        soup = BeautifulSoup(content, 'html.parser')
    for tag in soup.recursiveChildGenerator():
        try:
            tag.attrs = None
        except AttributeError:
            pass
    for linebreak in soup.find_all('br'):
        linebreak.extract()
    return soup

In [6]:
headers = {
    'User-Agent': 'GOLUB CAPITAL BDC, Inc.'
}
filing_links = pd.read_excel(
    "../GBDC__sec_filing_links.xlsx")
filing_links.head(5)
date_columns = ['Filing date', 'Reporting date']
for col in date_columns:
    filing_links[col] = pd.to_datetime(filing_links[col], format='%Y-%m-%d')
for col in date_columns:
    filing_links[col] = filing_links[col].dt.strftime("%B %d, %Y")
filing_links.head(5)

,Form type,Form description,Filing date,Reporting date,Act,Film number,Accession number,Filings URL
0,10-Q,Quarterly report [Sections 13 or 15(d)],"May 03, 2013","March 31, 2013",34,13810352,0001144204-13-026113,https://www.sec.gov/Archives/edgar/data/147676...
1,10-Q,Quarterly report [Sections 13 or 15(d)],"August 08, 2013","June 30, 2013",34,131020072,0001144204-13-043799,https://www.sec.gov/Archives/edgar/data/147676...
2,10-K,"Annual report [Section 13 and 15(d), not S-K I...","December 03, 2013","September 30, 2013",34,131254591,0001144204-13-065322,https://www.sec.gov/Archives/edgar/data/000147...
3,10-Q,Quarterly report [Sections 13 or 15(d)],"February 06, 2014","December 31, 2013",34,14578102,0001144204-14-006255,https://www.sec.gov/Archives/edgar/data/000147...
4,10-Q,Quarterly report [Sections 13 or 15(d)],"May 08, 2014","March 31, 2014",34,14823110,0001144204-14-028416,https://www.sec.gov/Archives/edgar/data/000147...

In [ ]:
start_row = 0
end_row = 20

for index, row in filing_links.iloc[start_row:end_row].iterrows():
    print(row['Reporting date'], row['Filings URL'])
    # webbrowser.open_new_tab(row['Filings URL'])

In [ ]:
# this one is the OG one

def extract_tables(soup_content, qtr_date):
    master_table = None
    consolidated_schedule_regex = re.compile(
        r'(?i)^\s*.*\s*CONSOLIDATED\s+SCHEDULE(S|)\s+OF\s+INVESTMENTS\s*.*\s*$')
    date_regex_pattern1 = r'([A-Za-z]+\s+\d{1,2},\s+\d{4})'
    date_regex_pattern2 = r'\bAs\s+of\s+([A-Za-z]+\s+\d{1,2},\s+\d{4})\b'
    for tag in soup_content.find_all(text=re.compile(consolidated_schedule_regex)):
        date_str = re.search(date_regex_pattern1, tag.find_next().text)
        if date_str is None:
            date_str = re.search(date_regex_pattern1, tag.next.text)
        print(date_str)
        if date_str is not None:
            date_str = str(date_str.group(1))
            date_str = unicodedata.normalize('NFKD', date_str)
            qtr_date_cleaned = qtr_date.replace(',', '').replace(
                ' ', '').replace('\n', '').lower()
            date_str_cleaned = date_str.replace(',', '').replace(
                ' ', '').replace('\n', '').lower()
            print(qtr_date_cleaned, date_str_cleaned)

            if qtr_date_cleaned == date_str_cleaned:
                html_table = tag.find_next('table')
                new_table = pd.read_html(
                    html_table.prettify(), skiprows=0, flavor='bs4')[0]
                new_table = new_table.applymap(lambda x: unicodedata.normalize(
                    'NFKD', x.strip().strip(u'\u200b').replace('â€”', '-')) if type(x) == str else x)
                new_table = new_table.replace(
                    r'^\s*$', np.nan, regex=True).replace(r'^\s*\$\s*$', np.nan, regex=True)
                new_table = new_table.dropna(how='all', axis=0)

                if master_table is None:
                    master_table = new_table
                else:
                    master_table = pd.concat(
                        [master_table, new_table], ignore_index=True)

    master_table = master_table.applymap(
        lambda x: x.strip().strip(u'\u200b') if type(x) == str else x)
    master_table = master_table.replace(r'^\s*$', np.nan, regex=True).replace(
        r'^\s*\$\s*$', np.nan, regex=True).replace(r'^\s*\)\s*$', np.nan, regex=True)
    print(master_table.shape)

    return master_table


path = '/Users/fuadhassan/Desktop/BDC_RA/GBDC/GBDC_Investment.xlsx'
writer = pd.ExcelWriter(path, engine='openpyxl')
for qtr_date, html_link in zip(filing_links['Reporting date'], filing_links['Filings URL']):
    print(html_link, qtr_date)
    response = requests.get(html_link, headers=headers)
    content = parse_and_trim(response.content, 'HTML')
    master_table = extract_tables(content, qtr_date)
    master_table.to_excel(
        writer, sheet_name=qtr_date.replace(',', ''), index=False)
    writer.book.save(path)
writer.close()

In [ ]:
filing_links = filing_links[filing_links['Reporting date']
                            != 'September 30, 2017']

In [ ]:
data_frames = []
data_frames_shapes = []


def extract_tables(soup_content, qtr_date):
    master_table = None
    print(qtr_date)
    if qtr_date == 'December 31, 2015' or qtr_date == 'June 30, 2016':
        consolidated_schedule_regex = re.compile(
            r'(?i)^\s*.*\s*CONSOLIDATED\s+SCHEDULE(S|)\s+OF\s+INVESTMENTS\s*(\(.*\)|)\s*-.*\s*\(.*\)$')
    else:
        consolidated_schedule_regex = re.compile(
            r'(?i)^\s*.*\s*CONSOLIDATED\s+SCHEDULE(S|)\s+OF\s+INVESTMENTS\s*.*\s*$')
    date_regex_pattern = r'([A-Za-z]+\s+\d{1,2},\s+\d{4})'
    # date_regex_pattern2 = r'\bAs\s+of\s+([A-Za-z]+\s+\d{1,2},\s+\d{4})\b'
    for tag in soup_content.find_all(text=re.compile(consolidated_schedule_regex)):
        date_str = re.search(date_regex_pattern, tag.find_next().text)
        if date_str is None:
            date_str = re.search(date_regex_pattern, tag.next.text)
        if date_str is None:
            date_str = re.search(date_regex_pattern,
                                 tag.find_next().next.next.next.text)
        if date_str is not None:
            date_str = str(date_str.group(1))
            date_str = unicodedata.normalize('NFKD', date_str)
            qtr_date_cleaned = qtr_date.replace(',', '').replace(
                ' ', '').replace('\n', '').lower()
            date_str_cleaned = date_str.replace(',', '').replace(
                ' ', '').replace('\n', '').lower()
            print(date_str, qtr_date_cleaned, date_str_cleaned)

            if qtr_date_cleaned == date_str_cleaned:
                html_table = tag.find_next('table')
                new_table = pd.read_html(
                    html_table.prettify(), skiprows=0, flavor='bs4')[0]
                new_table = new_table.applymap(lambda x: unicodedata.normalize(
                    'NFKD', x.strip().strip(u'\u200b').replace('â€”', '-')) if type(x) == str else x)
                new_table = new_table.replace(
                    r'^\s*$', np.nan, regex=True).replace(r'^\s*\$\s*$', np.nan, regex=True)
                new_table = new_table.dropna(how='all', axis=0)

                if master_table is None:
                    master_table = new_table
                else:
                    master_table = pd.concat(
                        [master_table, new_table], ignore_index=True)
            # print(master_table)

    master_table = master_table.applymap(
        lambda x: x.strip().strip(u'\u200b') if type(x) == str else x)
    master_table = master_table.replace(r'^\s*$', np.nan, regex=True).replace(
        r'^\s*\$\s*$', np.nan, regex=True).replace(r'^\s*\)\s*$', np.nan, regex=True)
    print(master_table.shape)
    data_frames.append(master_table)
    data_frames_shapes.append(master_table.shape)
    return master_table


# This does the job
path = '/Users/fuadhassan/Desktop/BDC_RA/GBDC/Test_GBDC_Investment.xlsx'
writer = pd.ExcelWriter(path, engine='openpyxl')
for qtr_date, html_link in zip(filing_links['Reporting date'], filing_links['Filings URL']):
    print(html_link, qtr_date)
    response = requests.get(html_link, headers=headers)
    content = parse_and_trim(response.content, 'HTML')
    master_table = extract_tables(content, qtr_date)
    master_table.to_excel(
        writer, sheet_name=qtr_date.replace(',', ''), index=False)
    writer.book .save(path)
writer.close()

In [17]:
data_frames = []
data_frames_shapes = []


def extract_tables(soup_content, qtr_date):
    master_table = None
    consolidated_schedule_regex = re.compile(
        r'(?i)^\s*.*\s*CONSOLIDATED\s+SCHEDULE(S|)\s+OF\s+INVESTMENTS\s*.*\s*$')
    date_regex_pattern1 = r'([A-Za-z]+\s+\d{1,2},\s+\d{4})'
    # date_regex_pattern2 = r'\bAs\s+of\s+([A-Za-z]+\s+\d{1,2},\s+\d{4})\b'
    for tag in soup_content.find_all(text=re.compile(consolidated_schedule_regex)):
        date_str = re.search(date_regex_pattern1, tag.find_next().text)
        if date_str is None:
            date_str = re.search(date_regex_pattern1, tag.next.text)
        print(date_str)
        if date_str is not None:
            date_str = str(date_str.group(1))
            date_str = unicodedata.normalize('NFKD', date_str)
            qtr_date_cleaned = qtr_date.replace(',', '').replace(
                ' ', '').replace('\n', '').lower()
            date_str_cleaned = date_str.replace(',', '').replace(
                ' ', '').replace('\n', '').lower()
            print(qtr_date_cleaned, date_str_cleaned)

            if qtr_date_cleaned == date_str_cleaned:
                table = tag.find_next("table")
                if table:
                    # Extract the table data into a data frame
                    table_data = []
                    for row in table.find_all('tr'):
                        # Include header cells ('th') if necessary
                        columns = row.find_all(['th', 'td'])
                        row_data = [column.get_text(strip=True)
                                    for column in columns]
                        table_data.append(row_data)

                    # Create a data frame from the table data and add it to the list
                    table_df = pd.DataFrame(table_data)
                    new_table = table_df.applymap(lambda x: unicodedata.normalize(
                        'NFKD', x.strip().strip(u'\u200b').replace('â€”', '-')) if type(x) == str else x)
                    new_table = new_table.replace(
                        r'^\s*$', np.nan, regex=True).replace(r'^\s*\$\s*$', np.nan, regex=True)
                    table_df = new_table.dropna(how='all', axis=0)
                    if len(table_df.columns) > 10:
                        data_frames.append(table_df)

                        if master_table is None:
                            master_table = table_df
                        else:
                            master_table = pd.concat(
                                [master_table, table_df], ignore_index=True)

            # print(master_table)

    master_table = master_table.applymap(
        lambda x: x.strip().strip(u'\u200b') if type(x) == str else x)
    master_table = master_table.replace(r'^\s*$', np.nan, regex=True).replace(
        r'^\s*\$\s*$', np.nan, regex=True).replace(r'^\s*\)\s*$', np.nan, regex=True)
    print(master_table.shape)
    return master_table

In [18]:
def process_table_fun(soi_table_df, process_tables_shapes):
    print(1, 'shape:', soi_table_df.shape)
    soi_table_df = soi_table_df.replace(r'^\s*\$\s*$', np.nan, regex=True)
    soi_table_df = soi_table_df.replace(r'\n', '', regex=True)
    print(2, 'shape:', soi_table_df.shape)
    print(6, 'shape:', soi_table_df.shape)
    soi_table_df = soi_table_df.replace('â€”', 0)
    soi_table_df = soi_table_df.replace('-', 0)
    print(7, 'shape:', soi_table_df.shape)
    soi_table_df.reset_index(drop=True, inplace=True)

    soi_table_df = soi_table_df.applymap(
        lambda x: x.strip() if isinstance(x, str) else x)

    pattern = r'Total\s+Investments'
    # Use the apply function to check if the pattern is in any column for each row
    matching_rows = soi_table_df.apply(
        lambda row: row.str.contains(pattern, flags=re.IGNORECASE, regex=True).any(), axis=1)
    # Find the index of the first row that matches the pattern
    # Slice the DataFrame to keep only the rows up to and including the first matching row
    if soi_table_df[matching_rows].index[0] < 20:
        soi_table_df = soi_table_df.loc[:soi_table_df[matching_rows].index[1]].reset_index(
            drop=True)
    else:
        soi_table_df = soi_table_df.loc[:soi_table_df[matching_rows].index[0]].reset_index(
            drop=True)

# removest end extra
    pattern = r'Net asset value per common share|How We Addressed the Matter in Our Audit'
    matching_rows = soi_table_df.apply(
        lambda row: row.str.contains(pattern, flags=re.IGNORECASE, regex=True).any(), axis=1)

    # Check if the pattern exists in the DataFrame
    if matching_rows.any():
        # Extract rows from the first occurrence onwards
        soi_table_df = soi_table_df.iloc[matching_rows.idxmax(
        )+1:].reset_index(drop=True)

    # removing all col name
    pattern = r'(?:Spread\s*Above|cost|Percentage|Above)'
    matching_rows = soi_table_df.apply(
        lambda row: row.str.contains(pattern, flags=re.IGNORECASE, regex=True).any(), axis=1)
    soi_table_df = soi_table_df[~matching_rows]

    print(0, 'shape:', soi_table_df.shape)
    soi_table_df = soi_table_df.dropna(how='all', axis=1).reset_index(
        drop=True)
    print(3, 'shape:', soi_table_df.shape)
    soi_table_df = soi_table_df.dropna(how='all', axis=0).reset_index(
        drop=True)
    print(4, 'shape:', soi_table_df.shape)
    soi_table_df.dropna().reset_index(
        drop=True)
    print(5, 'shape:', soi_table_df.shape)


# drops the sub total
    soi_table_df = soi_table_df.dropna(subset=[soi_table_df.columns[0]])

    num_cols = soi_table_df.shape[1]
    data_col_mapper = dict(zip(soi_table_df.columns.to_list(), [
        i for i in range(0, num_cols)]))
    soi_table_df = soi_table_df.rename(columns=data_col_mapper)

    for index, row in soi_table_df.iterrows():
        for column in soi_table_df.columns:
            if pd.isna(row[column]):
                # Find the next column in the same row
                next_column = soi_table_df.columns.get_loc(column) + 1
                if next_column < len(soi_table_df.columns):
                    next_column_name = soi_table_df.columns[next_column]
                    # Replace NaN value with the value from the next column
                    soi_table_df.at[index, column] = row[next_column_name]
                    # Set the next column to NaN
                    soi_table_df.at[index, next_column_name] = np.nan

    for index, row in soi_table_df.iterrows():
        for column in soi_table_df.columns:
            if pd.isna(row[column]):
                while True:
                    # Find the next column in the same row
                    next_column = soi_table_df.columns.get_loc(column) + 1
                    if next_column < len(soi_table_df.columns):
                        next_column_name = soi_table_df.columns[next_column]
                        # Replace NaN value with the value from the next column
                        soi_table_df.at[index, column] = row[next_column_name]
                        # Set the next column to NaN
                        soi_table_df.at[index, next_column_name] = np.nan
                        column = next_column_name
                    else:
                        # No more columns to replace, break out of the loop
                        break

    soi_table_df = soi_table_df.dropna(axis=1, thresh=10)
    soi_table_df = soi_table_df.dropna(how='all', axis=1).reset_index(
        drop=True)

    process_tables_shapes.append(soi_table_df.shape)
    print(soi_table_df.info())

    return soi_table_df


process_tables = {}
process_tables_shape = []

In [25]:
# This does the job
path = '/Users/fuadhassan/Desktop/BDC_RA/GBDC/Test_GBDC_Investment.xlsx'
writer = pd.ExcelWriter(path, engine='openpyxl')
for qtr_date, html_link in zip(filing_links['Reporting date'], filing_links['Filings URL']):
    print(html_link, qtr_date)
    response = requests.get(html_link, headers=headers)
    content = parse_and_trim(response.content, 'HTML')
    master_table = extract_tables(content, qtr_date)
    process_table = process_table_fun(master_table, process_tables_shape)
    process_table.to_excel(
        writer, sheet_name=qtr_date.replace(',', ''), index=False)
    writer.book .save(path)
writer.close()

https://www.sec.gov/Archives/edgar/data/1476765/000114420413026113/v343181_10q.htm March 31, 2013
None
<re.Match object; span=(0, 14), match='March\n31, 2013'>
march312013 march312013
<re.Match object; span=(0, 14), match='March\n31, 2013'>
march312013 march312013
<re.Match object; span=(0, 14), match='March\n31, 2013'>
march312013 march312013
<re.Match object; span=(0, 14), match='March\n31, 2013'>
march312013 march312013
<re.Match object; span=(0, 14), match='March\n31, 2013'>
march312013 march312013
<re.Match object; span=(0, 14), match='March\n31, 2013'>
march312013 march312013
<re.Match object; span=(0, 18), match='September\n30, 2012'>
march312013 september302012
<re.Match object; span=(0, 18), match='September\n30, 2012'>
march312013 september302012
<re.Match object; span=(0, 18), match='September\n30, 2012'>
march312013 september302012
<re.Match object; span=(0, 18), match='September\n30, 2012'>
march312013 september302012
<re.Match object; span=(0, 18), match='September\n30, 2012'>
march312013 september302012
<re.Match object; span=(0, 18), match='September\n30, 2012'>
march312013 september302012
(424, 31)
1 shape: (424, 31)
2 shape: (424, 31)
6 shape: (424, 31)
7 shape: (424, 31)
0 shape: (404, 31)
3 shape: (404, 11)
4 shape: (404, 11)
5 shape: (404, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370 entries, 0 to 369
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       370 non-null    object
 1   1       310 non-null    object
 2   2       310 non-null    object
 3   3       315 non-null    object
 4   4       315 non-null    object
 5   5       315 non-null    object
 6   6       315 non-null    object
 7   7       312 non-null    object
 8   8       309 non-null    object
 9   9       234 non-null    object
dtypes: object(10)
memory usage: 29.0+ KB
None
https://www.sec.gov/Archives/edgar/data/1476765/000114420413043799/v351518_10q.htm June 30, 2013
None
<re.Match object; span=(0, 13), match='June 30, 2013'>
june302013 june302013
<re.Match object; span=(0, 13), match='June 30, 2013'>
june302013 june302013
<re.Match object; span=(0, 13), match='June 30, 2013'>
june302013 june302013
<re.Match object; span=(0, 13), match='June 30, 2013'>
june302013 june302013
<re.Match object; span=(0, 13), match='June 30, 2013'>
june302013 june302013
<re.Match object; span=(0, 13), match='June 30, 2013'>
june302013 june302013
<re.Match object; span=(0, 13), match='June 30, 2013'>
june302013 june302013
<re.Match object; span=(0, 18), match='September 30, 2012'>
june302013 september302012
<re.Match object; span=(0, 18), match='September 30, 2012'>
june302013 september302012
<re.Match object; span=(0, 18), match='September 30, 2012'>
june302013 september302012
<re.Match object; span=(0, 18), match='September 30, 2012'>
june302013 september302012
<re.Match object; span=(0, 18), match='September 30, 2012'>
june302013 september302012
<re.Match object; span=(0, 18), match='September 30, 2012'>
june302013 september302012
None
(431, 31)
1 shape: (431, 31)
2 shape: (431, 31)
6 shape: (431, 31)
7 shape: (431, 31)
0 shape: (408, 31)
3 shape: (408, 21)
4 shape: (408, 21)
5 shape: (408, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370 entries, 0 to 369
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       370 non-null    object
 1   1       312 non-null    object
 2   2       312 non-null    object
 3   3       305 non-null    object
 4   4       45 non-null     object
 5   5       306 non-null    object
 6   6       278 non-null    object
 7   7       317 non-null    object
 8   8       316 non-null    object
 9   9       245 non-null    object
 10  10      108 non-null    object
 11  11      211 non-null    object
 12  12      43 non-null     object
 13  13      205 non-null    object
dtypes: object(14)
memory usage: 40.6+ KB
None
https://www.sec.gov/Archives/edgar/data/0001476765/000114420413065322/v361550_10k.htm September 30, 2013
None
<re.Match object; span=(474, 492), match='September 30, 2013'>
september302013 september302013
None
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302013 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302013 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302013 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302013 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302013 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302013 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302013 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302013 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302013 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302013 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302013 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302013 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302013 september302013
<re.Match object; span=(1, 19), match='September 30, 2012'>
september302013 september302012
<re.Match object; span=(1, 19), match='September 30, 2012'>
september302013 september302012
<re.Match object; span=(1, 19), match='September 30, 2012'>
september302013 september302012
<re.Match object; span=(1, 19), match='September 30, 2012'>
september302013 september302012
<re.Match object; span=(1, 19), match='September 30, 2012'>
september302013 september302012
<re.Match object; span=(1, 19), match='September 30, 2012'>
september302013 september302012
<re.Match object; span=(1, 19), match='September 30, 2012'>
september302013 september302012
<re.Match object; span=(1, 19), match='September 30, 2012'>
september302013 september302012
<re.Match object; span=(1, 19), match='September 30, 2012'>
september302013 september302012
<re.Match object; span=(1, 19), match='September 30, 2012'>
september302013 september302012
<re.Match object; span=(1, 19), match='September 30, 2012'>
september302013 september302012
<re.Match object; span=(77, 95), match='September 30, 2013'>
september302013 september302013
(454, 41)
1 shape: (454, 41)
2 shape: (454, 41)
6 shape: (454, 41)
7 shape: (454, 41)
0 shape: (425, 41)
3 shape: (425, 11)
4 shape: (425, 11)
5 shape: (425, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386 entries, 0 to 385
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       386 non-null    object
 1   1       328 non-null    object
 2   2       328 non-null    object
 3   3       333 non-null    object
 4   4       333 non-null    object
 5   5       333 non-null    object
 6   6       333 non-null    object
 7   7       330 non-null    object
 8   8       328 non-null    object
 9   9       252 non-null    object
dtypes: object(10)
memory usage: 30.3+ KB
None
https://www.sec.gov/Archives/edgar/data/0001476765/000114420414006255/v366851_10q.htm December 31, 2013
<re.Match object; span=(0, 17), match='December 31, 2013'>
december312013 december312013
<re.Match object; span=(0, 17), match='December 31, 2013'>
december312013 december312013
<re.Match object; span=(0, 17), match='December 31, 2013'>
december312013 december312013
<re.Match object; span=(0, 17), match='December 31, 2013'>
december312013 december312013
<re.Match object; span=(0, 17), match='December 31, 2013'>
december312013 december312013
<re.Match object; span=(0, 17), match='December 31, 2013'>
december312013 december312013
<re.Match object; span=(0, 17), match='December 31, 2013'>
december312013 december312013
<re.Match object; span=(0, 18), match='September 30, 2013'>
december312013 september302013
<re.Match object; span=(0, 18), match='September 30, 2013'>
december312013 september302013
<re.Match object; span=(0, 18), match='September 30, 2013'>
december312013 september302013
<re.Match object; span=(0, 18), match='September 30, 2013'>
december312013 september302013
<re.Match object; span=(0, 18), match='September 30, 2013'>
december312013 september302013
<re.Match object; span=(0, 18), match='September 30, 2013'>
december312013 september302013
<re.Match object; span=(0, 18), match='September 30, 2013'>
december312013 september302013
None
None
(442, 31)
1 shape: (442, 31)
2 shape: (442, 31)
6 shape: (442, 31)
7 shape: (442, 31)
0 shape: (420, 31)
3 shape: (420, 21)
4 shape: (420, 21)
5 shape: (420, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382 entries, 0 to 381
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       382 non-null    object
 1   1       329 non-null    object
 2   2       329 non-null    object
 3   3       322 non-null    object
 4   4       43 non-null     object
 5   5       326 non-null    object
 6   6       293 non-null    object
 7   7       333 non-null    object
 8   8       333 non-null    object
 9   9       258 non-null    object
 10  10      111 non-null    object
 11  11      222 non-null    object
 12  12      44 non-null     object
 13  13      221 non-null    object
dtypes: object(14)
memory usage: 41.9+ KB
None
https://www.sec.gov/Archives/edgar/data/0001476765/000114420414028416/v376994_10q.htm March 31, 2014
None
<re.Match object; span=(0, 14), match='March 31, 2014'>
march312014 march312014
<re.Match object; span=(0, 14), match='March 31, 2014'>
march312014 march312014
<re.Match object; span=(0, 14), match='March 31, 2014'>
march312014 march312014
<re.Match object; span=(0, 14), match='March 31, 2014'>
march312014 march312014
<re.Match object; span=(0, 14), match='March 31, 2014'>
march312014 march312014
<re.Match object; span=(0, 14), match='March 31, 2014'>
march312014 march312014
<re.Match object; span=(0, 14), match='March 31, 2014'>
march312014 march312014
<re.Match object; span=(0, 18), match='September 30, 2013'>
march312014 september302013
<re.Match object; span=(0, 18), match='September 30, 2013'>
march312014 september302013
<re.Match object; span=(0, 18), match='September 30, 2013'>
march312014 september302013
<re.Match object; span=(0, 18), match='September 30, 2013'>
march312014 september302013
<re.Match object; span=(0, 18), match='September 30, 2013'>
march312014 september302013
<re.Match object; span=(0, 18), match='September 30, 2013'>
march312014 september302013
<re.Match object; span=(0, 18), match='September 30, 2013'>
march312014 september302013
(467, 31)
1 shape: (467, 31)
2 shape: (467, 31)
6 shape: (467, 31)
7 shape: (467, 31)
0 shape: (440, 31)
3 shape: (440, 19)
4 shape: (440, 19)
5 shape: (440, 19)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403 entries, 0 to 402
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       403 non-null    object
 1   1       343 non-null    object
 2   2       343 non-null    object
 3   3       343 non-null    object
 4   4       267 non-null    object
 5   5       347 non-null    object
 6   6       347 non-null    object
 7   7       346 non-null    object
 8   8       73 non-null     object
 9   9       276 non-null    object
 10  10      73 non-null     object
 11  11      272 non-null    object
dtypes: object(12)
memory usage: 37.9+ KB
None
https://www.sec.gov/Archives/edgar/data/0001476765/000114420414047524/v385529_10q.htm June 30, 2014
None
<re.Match object; span=(1, 14), match='June 30, 2014'>
june302014 june302014
None
None
None
None
None
<re.Match object; span=(1, 14), match='June 30, 2014'>
june302014 june302014
<re.Match object; span=(1, 14), match='June 30, 2014'>
june302014 june302014
<re.Match object; span=(1, 14), match='June 30, 2014'>
june302014 june302014
<re.Match object; span=(1, 19), match='September 30, 2013'>
june302014 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
june302014 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
june302014 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
june302014 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
june302014 september302013
<re.Match object; span=(0, 18), match='September 30, 2013'>
june302014 september302013
<re.Match object; span=(0, 18), match='September 30, 2013'>
june302014 september302013
None
None
(194, 27)
1 shape: (194, 27)
2 shape: (194, 27)
6 shape: (194, 27)
7 shape: (194, 27)
0 shape: (177, 27)
3 shape: (177, 18)
4 shape: (177, 18)
5 shape: (177, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       159 non-null    object
 1   1       139 non-null    object
 2   2       139 non-null    object
 3   3       139 non-null    object
 4   4       130 non-null    object
 5   5       129 non-null    object
 6   6       130 non-null    object
 7   7       48 non-null     object
 8   8       82 non-null     object
 9   9       49 non-null     object
 10  10      80 non-null     object
 11  11      48 non-null     object
dtypes: object(12)
memory usage: 15.0+ KB
None
https://www.sec.gov/Archives/edgar/data/0001476765/000114420414069568/v394051_10k.htm September 30, 2014
None
<re.Match object; span=(505, 523), match='September 30, 2014'>
september302014 september302014
None
<re.Match object; span=(1, 19), match='September 30, 2014'>
september302014 september302014
<re.Match object; span=(1, 19), match='September 30, 2014'>
september302014 september302014
<re.Match object; span=(1, 19), match='September 30, 2014'>
september302014 september302014
<re.Match object; span=(1, 19), match='September 30, 2014'>
september302014 september302014
<re.Match object; span=(1, 19), match='September 30, 2014'>
september302014 september302014
<re.Match object; span=(1, 19), match='September 30, 2014'>
september302014 september302014
<re.Match object; span=(1, 19), match='September 30, 2014'>
september302014 september302014
<re.Match object; span=(1, 19), match='September 30, 2014'>
september302014 september302014
<re.Match object; span=(1, 19), match='September 30, 2014'>
september302014 september302014
<re.Match object; span=(1, 19), match='September 30, 2014'>
september302014 september302014
<re.Match object; span=(1, 19), match='September 30, 2014'>
september302014 september302014
<re.Match object; span=(1, 19), match='September 30, 2014'>
september302014 september302014
<re.Match object; span=(1, 19), match='September 30, 2014'>
september302014 september302014
<re.Match object; span=(1, 19), match='September 30, 2014'>
september302014 september302014
None
<re.Match object; span=(1, 19), match='September 30, 2014'>
september302014 september302014
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302014 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302014 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302014 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302014 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302014 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302014 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302014 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302014 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302014 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302014 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302014 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302014 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302014 september302013
<re.Match object; span=(1, 19), match='September 30, 2013'>
september302014 september302013
None
None
(492, 33)
1 shape: (492, 33)
2 shape: (492, 33)
6 shape: (492, 33)
7 shape: (492, 33)
0 shape: (472, 33)
3 shape: (472, 10)
4 shape: (472, 10)
5 shape: (472, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436 entries, 0 to 435
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       436 non-null    object
 1   1       376 non-null    object
 2   2       376 non-null    object
 3   3       380 non-null    object
 4   4       380 non-null    object
 5   5       380 non-null    object
 6   6       377 non-null    object
 7   7       376 non-null    object
 8   8       376 non-null    object
 9   9       277 non-null    object
dtypes: object(10)
memory usage: 34.2+ KB
None
https://www.sec.gov/Archives/edgar/data/0001476765/000114420415006725/v400181_10q.htm December 31, 2014
None
<re.Match object; span=(1, 18), match='December 31, 2014'>
december312014 december312014
<re.Match object; span=(1, 18), match='December 31, 2014'>
december312014 december312014
<re.Match object; span=(1, 18), match='December 31, 2014'>
december312014 december312014
<re.Match object; span=(1, 18), match='December 31, 2014'>
december312014 december312014
<re.Match object; span=(1, 18), match='December 31, 2014'>
december312014 december312014
<re.Match object; span=(1, 18), match='December 31, 2014'>
december312014 december312014
<re.Match object; span=(1, 18), match='December 31, 2014'>
december312014 december312014
<re.Match object; span=(1, 18), match='December 31, 2014'>
december312014 december312014
<re.Match object; span=(1, 18), match='December 31, 2014'>
december312014 december312014
<re.Match object; span=(42, 59), match='December 31, 2014'>
december312014 december312014
<re.Match object; span=(1, 19), match='September 30, 2014'>
december312014 september302014
<re.Match object; span=(1, 19), match='September 30, 2014'>
december312014 september302014
<re.Match object; span=(1, 19), match='September 30, 2014'>
december312014 september302014
<re.Match object; span=(1, 19), match='September 30, 2014'>
december312014 september302014
<re.Match object; span=(1, 19), match='September 30, 2014'>
december312014 september302014
<re.Match object; span=(1, 19), match='September 30, 2014'>
december312014 september302014
<re.Match object; span=(1, 19), match='September 30, 2014'>
december312014 september302014
<re.Match object; span=(1, 19), match='September 30, 2014'>
december312014 september302014
<re.Match object; span=(1, 19), match='September 30, 2014'>
december312014 september302014
<re.Match object; span=(42, 60), match='September 30, 2014'>
december312014 september302014
(505, 31)
1 shape: (505, 31)
2 shape: (505, 31)
6 shape: (505, 31)
7 shape: (505, 31)
0 shape: (470, 31)
3 shape: (470, 21)
4 shape: (470, 21)
5 shape: (470, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       434 non-null    object
 1   1       379 non-null    object
 2   2       379 non-null    object
 3   3       343 non-null    object
 4   4       370 non-null    object
 5   5       296 non-null    object
 6   6       383 non-null    object
 7   7       382 non-null    object
 8   8       52 non-null     object
 9   9       332 non-null    object
 10  10      53 non-null     object
 11  11      328 non-null    object
 12  12      36 non-null     object
dtypes: object(13)
memory usage: 44.2+ KB
None
https://www.sec.gov/Archives/edgar/data/0001476765/000114420415029297/v409710_10q.htm March 31, 2015
None
<re.Match object; span=(0, 14), match='March 31, 2015'>
march312015 march312015

IndexError: index 0 is out of bounds for axis 0 with size 0

In [22]:
process_tables_shape

[(370, 10),
 (370, 14),
 (386, 10),
 (382, 14),
 (403, 12),
 (159, 12),
 (436, 10),
 (434, 13),
 (449, 10),
 (477, 10),
 (468, 10)]

In [23]:
process_tables['March_31_2013'].to_csv('test.csv')

KeyError: 'March_31_2013'