In [248]:
from bs4 import BeautifulSoup
import re
import unicodedata
import pandas as pd
import numpy as np
import html5lib
import requests
from openpyxl import Workbook
from datetime import datetime
import webbrowser
import os

In [249]:
path = '../Test_GBDC_Investment.xlsx'
xls = pd.ExcelFile(path)
all_sheets = pd.read_excel(path, sheet_name=None)
dataframes = {}
# Loop through each sheet and create a DataFrame in the dictionary
for sheet_name, sheet_df in all_sheets.items():
    dataframes[sheet_name.replace(' ', '_')] = sheet_df
    print(f"DataFrame name: {sheet_name} : {sheet_df.shape}")

DataFrame name: March 31 2013 : (424, 31)
DataFrame name: June 30 2013 : (432, 31)
DataFrame name: September 30 2013 : (486, 41)
DataFrame name: December 31 2013 : (443, 31)
DataFrame name: March 31 2014 : (467, 31)
DataFrame name: June 30 2014 : (482, 27)
DataFrame name: September 30 2014 : (527, 33)
DataFrame name: December 31 2014 : (506, 31)
DataFrame name: March 31 2015 : (524, 31)
DataFrame name: June 30 2015 : (571, 31)
DataFrame name: September 30 2015 : (584, 33)
DataFrame name: December 31 2015 : (505, 27)
DataFrame name: March 31 2016 : (589, 27)
DataFrame name: June 30 2016 : (564, 27)
DataFrame name: September 30 2016 : (700, 23)
DataFrame name: December 31 2016 : (646, 23)
DataFrame name: March 31 2017 : (677, 23)
DataFrame name: June 30 2017 : (699, 23)
DataFrame name: December 31 2017 : (734, 41)
DataFrame name: March 31 2018 : (766, 25)
DataFrame name: June 30 2018 : (817, 25)
DataFrame name: September 30 2018 : (883, 24)
DataFrame name: December 31 2018 : (916, 41)
DataFrame name: March 31 2019 : (951, 24)
DataFrame name: June 30 2019 : (994, 24)
DataFrame name: September 30 2019 : (1096, 25)
DataFrame name: December 31 2019 : (1149, 25)
DataFrame name: March 31 2020 : (1211, 65)
DataFrame name: June 30 2020 : (1205, 54)
DataFrame name: September 30 2020 : (1275, 64)
DataFrame name: December 31 2020 : (1318, 64)
DataFrame name: March 31 2021 : (1371, 64)
DataFrame name: June 30 2021 : (1456, 64)
DataFrame name: September 30 2021 : (1572, 64)
DataFrame name: December 31 2021 : (1621, 64)
DataFrame name: March 31 2022 : (1684, 64)
DataFrame name: June 30 2022 : (1777, 64)
DataFrame name: September 30 2022 : (1773, 76)
DataFrame name: December 31 2022 : (1769, 76)
DataFrame name: March 31 2023 : (1605, 76)
DataFrame name: June 30 2023 : (1523, 76)

In [332]:
def process_table_fun(soi_table_df, process_tables_shapes):
    print(1, 'shape:', soi_table_df.shape)
    soi_table_df = soi_table_df.replace(r'^\s*\$\s*$', np.nan, regex=True)
    soi_table_df = soi_table_df.replace(r'\n', '', regex=True)
    print(2, 'shape:', soi_table_df.shape)
    # fewer non-null values, effectively dropping rows with more than 100 non-null values.
    # for index, row in soi_table_df.iterrows():
    #     if row.count() > 100:
    #         soi_table_df = soi_table_df.drop(index)

    pattern = r'Total\s+Investments'
    # Use the apply function to check if the pattern is in any column for each row
    matching_rows = soi_table_df.apply(
        lambda row: row.str.contains(pattern, flags=re.IGNORECASE, regex=True).any(), axis=1)
    # Find the index of the first row that matches the pattern
    # Slice the DataFrame to keep only the rows up to and including the first matching row
    if soi_table_df[matching_rows].index[0] < 20:
        soi_table_df = soi_table_df.loc[:soi_table_df[matching_rows].index[1]].reset_index(
            drop=True)
    else:
        soi_table_df = soi_table_df.loc[:soi_table_df[matching_rows].index[0]].reset_index(
            drop=True)

    print(0, 'shape:', soi_table_df.shape)
    soi_table_df = soi_table_df.dropna(how='all', axis=1).reset_index(
        drop=True)

    print(3, 'shape:', soi_table_df.shape)
    soi_table_df = soi_table_df.dropna(how='all', axis=0).reset_index(
        drop=True)

    print(4, 'shape:', soi_table_df.shape)
    soi_table_df.dropna().reset_index(
        drop=True)
    print(5, 'shape:', soi_table_df.shape)


    # # # pattern = r'(?i)investment\s*type?|investment'
    pattern = 'Investments'
    matching_rows = soi_table_df.apply(
        lambda row: row.str.contains(pattern, flags=re.IGNORECASE, regex=True).any(), axis=1)
    # matching_rows = soi_table_df.apply(
    #     lambda row: bool(re.search(pattern, str(row[0]), flags=re.IGNORECASE)), axis=1)

    # # # matching_rows = soi_table_df.apply(
    # # #     lambda row: re.search(pattern, str(row[0]), flags=re.IGNORECASE) is not None, axis=1)

    # # print(soi_table_df[matching_rows])
    soi_table_df = soi_table_df.loc[soi_table_df[matching_rows].index[0]-1:].reset_index(
        drop=True)

    soi_table_df = soi_table_df.rename(
        columns=soi_table_df.iloc[0]).drop(soi_table_df.index[0])

    # second_row_values = soi_table_df.iloc[0]
    # for col_idx, value in enumerate(second_row_values):
    #     if not pd.isna(value) and not pd.isna(soi_table_df.columns[col_idx]):
    #         col_name = soi_table_df.columns[col_idx]
    #         new_col_name = f"{col_name} {str(value)}"
    #         soi_table_df.rename(columns={col_name: new_col_name}, inplace=True)
    #         soi_table_df.iloc[0, col_idx] = np.nan

    print(6, 'shape:', soi_table_df.shape)
    soi_table_df = soi_table_df.replace('â€”', 0)
    soi_table_df = soi_table_df.replace('-', np.nan)
    print(7, 'shape:', soi_table_df.shape)

    soi_table_df = soi_table_df.applymap(
        lambda x: x.strip() if isinstance(x, str) else x)

    process_tables_shapes.append(soi_table_df.shape)

    return soi_table_df

In [333]:
path = '/Users/fuadhassan/Desktop/BDC_RA/GBDC/process_tables_GBDC_Investment.xlsx'
writer = pd.ExcelWriter(path, engine='openpyxl')
process_tables = {}
process_tables_shape = []
for dataframe in dataframes:
    print(dataframe)
    process_tables[dataframe] = process_table_fun(
        dataframes[dataframe], process_tables_shape)
    print('\n')
    process_tables[dataframe].to_excel(
        writer, sheet_name=dataframe.replace(',', ''), index=False)
    writer.book .save(path)
writer.close()

March_31_2013
1 shape: (424, 31)
2 shape: (424, 31)
0 shape: (424, 31)
3 shape: (424, 17)
4 shape: (424, 17)
5 shape: (424, 17)
0                                          NaN
1                                          NaN
2                                          NaN
3                                  Investments
4                                       Canada
                        ...
419                        Vision  Source L.P.
420                                        NaN
421    Total  equity investments United States
422                       Total  United States
423                         Total  investments
Name: 0, Length: 424, dtype: object
6 shape: (421, 17)
7 shape: (421, 17)


June_30_2013
1 shape: (432, 31)
2 shape: (432, 31)
0 shape: (431, 31)
3 shape: (431, 27)
4 shape: (431, 27)
5 shape: (431, 27)
0                                          NaN
1                                          NaN
2                                          NaN
3                                  Investments
4                                       Canada
                        ...
426                        Vision  Source L.P.
427                                        NaN
428    Total  equity investments United States
429                       Total  United States
430                         Total  investments
Name: 0, Length: 431, dtype: object
6 shape: (428, 27)
7 shape: (428, 27)


September_30_2013
1 shape: (486, 41)
2 shape: (486, 41)
0 shape: (472, 41)
3 shape: (472, 19)
4 shape: (472, 19)
5 shape: (472, 19)
0                                                   NaN
1                                                Assets
2                            Investments, at fair value
3      Non-controlled/non-affiliate company investments
4          Non-controlled affiliate company investments
                             ...
467                                  Telecommunications
468                                    ITC Global, Inc.
469              Total equity investments United States
470                                 Total United States
471                                   Total Investments
Name: 0, Length: 472, dtype: object
6 shape: (470, 19)
7 shape: (470, 19)


December_31_2013
1 shape: (443, 31)
2 shape: (443, 31)
0 shape: (442, 31)
3 shape: (442, 26)
4 shape: (442, 26)
5 shape: (442, 26)
0                                          NaN
1                                          NaN
2                                          NaN
3                                  Investments
4                                United States
                        ...
437                         Telecommunications
438                           ITC Global, Inc.
439    Total  equity investments United States
440                       Total  United States
441                         Total  Investments
Name: 0, Length: 442, dtype: object
6 shape: (439, 26)
7 shape: (439, 26)


March_31_2014
1 shape: (467, 31)
2 shape: (467, 31)
0 shape: (462, 31)
3 shape: (462, 24)
4 shape: (462, 24)
5 shape: (462, 24)
0                                          NaN
1                                          NaN
2                                          NaN
3                                  Investments
4                                United States
                        ...
457                         Telecommunications
458                           ITC Global, Inc.
459    Total  equity investments United States
460                       Total  United States
461                         Total  Investments
Name: 0, Length: 462, dtype: object
6 shape: (459, 24)
7 shape: (459, 24)


June_30_2014
1 shape: (482, 27)
2 shape: (482, 27)
0 shape: (477, 27)
3 shape: (477, 22)
4 shape: (477, 22)
5 shape: (477, 22)
0                      NaN
1                      NaN
2                      NaN
3              Investments
4            United States
              ...
472                    NaN
473                    NaN
474                    NaN
475    Total United States
476      Total Investments
Name: 0, Length: 477, dtype: object
6 shape: (474, 22)
7 shape: (474, 22)


September_30_2014
1 shape: (527, 33)
2 shape: (527, 33)
0 shape: (521, 33)
3 shape: (521, 18)
4 shape: (521, 18)
5 shape: (521, 18)
0                                                   NaN
1                                                Assets
2                            Investments, at fair value
3      Non-controlled/non-affiliate company investments
4          Non-controlled affiliate company investments
                             ...
516                                Textiles and Leather
517                                  Southern Tide, LLC
518             Total equity investments  United States
519                                 Total United States
520                                   Total Investments
Name: 0, Length: 521, dtype: object
6 shape: (519, 18)
7 shape: (519, 18)


December_31_2014
1 shape: (506, 31)
2 shape: (506, 31)
0 shape: (498, 31)
3 shape: (498, 22)
4 shape: (498, 22)
5 shape: (498, 22)
0                                          NaN
1                                          NaN
2                                          NaN
3                                  Investments
4                                United States
                        ...
493                       Textiles and Leather
494                         Southern Tide, LLC
495    Total  equity investments United States
496                       Total  United States
497                         Total  Investments
Name: 0, Length: 498, dtype: object
6 shape: (495, 22)
7 shape: (495, 22)


March_31_2015
1 shape: (524, 31)
2 shape: (524, 31)
0 shape: (517, 31)
3 shape: (517, 20)
4 shape: (517, 20)
5 shape: (517, 20)
0                                          NaN
1                                          NaN
2                                          NaN
3                                  Investments
4                                United States
                        ...
512                   PowerPlan Holdings, Inc.
513                                        NaN
514    Total  equity investments United States
515                       Total  United States
516                         Total  Investments
Name: 0, Length: 517, dtype: object
6 shape: (514, 20)
7 shape: (514, 20)


June_30_2015
1 shape: (571, 31)
2 shape: (571, 31)
0 shape: (560, 31)
3 shape: (560, 20)
4 shape: (560, 20)
5 shape: (560, 20)
0                                          NaN
1                                          NaN
2                                          NaN
3                                  Investments
4                                United States
                        ...
555                   PowerPlan Holdings, Inc.
556                                        NaN
557    Total  equity investments United States
558                       Total  United States
559                         Total  Investments
Name: 0, Length: 560, dtype: object
6 shape: (557, 20)
7 shape: (557, 20)


September_30_2015
1 shape: (584, 33)
2 shape: (584, 33)
0 shape: (575, 33)
3 shape: (575, 19)
4 shape: (575, 19)
5 shape: (575, 19)
0                                                   NaN
1                                                Assets
2                            Investments, at fair value
3      Non-controlled/non-affiliate company investments
4          Non-controlled affiliate company investments
                             ...
570                            PowerPlan Holdings, Inc.
571                                                 NaN
572              Total equity investments United States
573                                 Total United States
574                                   Total Investments
Name: 0, Length: 575, dtype: object
6 shape: (573, 19)
7 shape: (573, 19)


December_31_2015
1 shape: (505, 27)
2 shape: (505, 27)
0 shape: (497, 27)
3 shape: (497, 23)
4 shape: (497, 23)
5 shape: (497, 23)
0                                          NaN
1                                          NaN
2                                          NaN
3                 Hopdoddy  Holdings, LLC  (4)
4                      Hopdoddy  Holdings, LLC
                        ...
492                  PowerPlan  Holdings, Inc.
493                                        NaN
494    Total  equity investments United States
495                       Total  United States
496                         Total  Investments
Name: 0, Length: 497, dtype: object
6 shape: (174, 23)
7 shape: (174, 23)


March_31_2016
1 shape: (589, 27)
2 shape: (589, 27)
0 shape: (581, 27)
3 shape: (581, 19)
4 shape: (581, 19)
5 shape: (581, 19)
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                            Investments
4      Non-controlled/non-affiliate  company investments
                             ...
576                       Investment  Funds and Vehicles
577                            Senior Loan Fund LLC  (7)
578    Total  controlled affiliate company equity inv...
579      Total  controlled affiliate company investments
580                                   Total  investments
Name: 0, Length: 581, dtype: object
6 shape: (578, 19)
7 shape: (578, 19)


June_30_2016
1 shape: (564, 27)
2 shape: (564, 27)
0 shape: (540, 27)
3 shape: (540, 20)
4 shape: (540, 20)
5 shape: (540, 20)
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                              Tate's Bake Shop, Inc.  #
4                                  Uinta Brewing Company
                             ...
535                        Investment Funds and Vehicles
536                            Senior Loan Fund LLC  (7)
537    Total controlled affiliate company equity inve...
538       Total controlled affiliate company investments
539                                    Total investments
Name: 0, Length: 540, dtype: object
6 shape: (199, 20)
7 shape: (199, 20)


September_30_2016
1 shape: (700, 23)
2 shape: (700, 23)
0 shape: (694, 23)
3 shape: (694, 22)
4 shape: (694, 22)
5 shape: (694, 22)
0                                                    NaN
1                                                    NaN
2                                                    NaN
3             Interest and other debt financing expenses
4                    Amortization of debt issuance costs
                             ...
689                        Investment Funds and Vehicles
690                            Senior Loan Fund LLC  (7)
691    Total controlled affiliate company equity inve...
692       Total controlled affiliate company investments
693                                    Total investments
Name: 0, Length: 694, dtype: object
6 shape: (680, 22)
7 shape: (680, 22)


December_31_2016
1 shape: (646, 23)
2 shape: (646, 23)
0 shape: (640, 23)
3 shape: (640, 20)
4 shape: (640, 20)
5 shape: (640, 20)
0                                                    NaN
1                                            Investments
2       Non-controlled/non-affiliate company investments
3                                       Debt investments
4                                  Aerospace and Defense
                             ...
635                                   Equity Investments
636                        Investment Funds and Vehicles
637                            Senior Loan Fund LLC  (9)
638    Total controlled affiliate company equity inve...
639                                    Total investments
Name: 0, Length: 640, dtype: object
6 shape: (639, 20)
7 shape: (639, 20)


March_31_2017
1 shape: (677, 23)
2 shape: (677, 23)
0 shape: (669, 23)
3 shape: (669, 20)
4 shape: (669, 20)
5 shape: (669, 20)
0                                                    NaN
1                                            Investments
2       Non-controlled/non-affiliate company investments
3                                       Debt investments
4                                  Aerospace and Defense
                             ...
664                                   Equity investments
665                        Investment Funds and Vehicles
666                            Senior Loan Fund LLC  (7)
667    Total controlled affiliate company equity inve...
668                                    Total investments
Name: 0, Length: 669, dtype: object
6 shape: (668, 20)
7 shape: (668, 20)


June_30_2017
1 shape: (699, 23)
2 shape: (699, 23)
0 shape: (694, 23)
3 shape: (694, 20)
4 shape: (694, 20)
5 shape: (694, 20)
0                                                    NaN
1                                            Investments
2       Non-controlled/non-affiliate company investments
3                                       Debt investments
4                                  Aerospace and Defense
                             ...
689                                   Equity investments
690                        Investment Funds and Vehicles
691                        Senior Loan Fund LLC  (7)(14)
692    Total controlled affiliate company equity inve...
693                                    Total investments
Name: 0, Length: 694, dtype: object
6 shape: (693, 20)
7 shape: (693, 20)


December_31_2017
1 shape: (734, 41)
2 shape: (734, 41)
0 shape: (725, 41)
3 shape: (725, 22)
4 shape: (725, 22)
5 shape: (725, 22)
0                                                    NaN
1                                            Investments
2       Non-controlled/non-affiliate company investments
3                                       Debt investments
4                                  Aerospace and Defense
                             ...
720                                   Equity investments
721                        Investment Funds and Vehicles
722                        Senior Loan Fund LLC  (8)(15)
723    Total controlled affiliate company equity inve...
724                                    Total investments
Name: 0, Length: 725, dtype: object
6 shape: (724, 22)
7 shape: (724, 22)


March_31_2018
1 shape: (766, 25)
2 shape: (766, 25)
0 shape: (760, 25)
3 shape: (760, 22)
4 shape: (760, 22)
5 shape: (760, 22)
0                                                    NaN
1                                            Investments
2       Non-controlled/non-affiliate company investments
3                                       Debt investments
4                                  Aerospace and Defense
                             ...
755                                   Equity investments
756                        Investment Funds and Vehicles
757                        Senior Loan Fund LLC  (8)(15)
758    Total controlled affiliate company equity inve...
759                                    Total investments
Name: 0, Length: 760, dtype: object
6 shape: (759, 22)
7 shape: (759, 22)


June_30_2018
1 shape: (817, 25)
2 shape: (817, 25)
0 shape: (798, 25)
3 shape: (798, 22)
4 shape: (798, 22)
5 shape: (798, 22)
0                                                    NaN
1                                            Investments
2       Non-controlled/non-affiliate company investments
3                                       Debt investments
4                                  Aerospace and Defense
                             ...
793                                   Equity investments
794                        Investment Funds and Vehicles
795                            Senior Loan Fund LLC  (8)
796    Total controlled affiliate company equity inve...
797                                    Total investments
Name: 0, Length: 798, dtype: object
6 shape: (797, 22)
7 shape: (797, 22)


September_30_2018
1 shape: (883, 24)
2 shape: (883, 24)
0 shape: (877, 24)
3 shape: (877, 23)
4 shape: (877, 23)
5 shape: (877, 23)
0                                                    NaN
1                                                 Assets
2                             Investments, at fair value
3       Non-controlled/non-affiliate company investments
4           Non-controlled affiliate company investments
                             ...
872                                   Equity investments
873                        Investment Funds and Vehicles
874                        Senior Loan Fund LLC  (8)(16)
875    Total controlled affiliate company equity inve...
876                                    Total investments
Name: 0, Length: 877, dtype: object
6 shape: (875, 23)
7 shape: (875, 23)


December_31_2018
1 shape: (916, 41)
2 shape: (916, 41)
0 shape: (906, 41)
3 shape: (906, 23)
4 shape: (906, 23)
5 shape: (906, 23)
0                                                    NaN
1                                            Investments
2       Non-controlled/non-affiliate company investments
3                                       Debt investments
4                                  Aerospace and Defense
                             ...
901                         Equity Investments  (13)(14)
902                        Investment Funds and Vehicles
903                        Senior Loan Fund LLC  (8)(18)
904    Total controlled affiliate company equity inve...
905                                    Total investments
Name: 0, Length: 906, dtype: object
6 shape: (905, 23)
7 shape: (905, 23)


March_31_2019
1 shape: (951, 24)
2 shape: (951, 24)
0 shape: (945, 24)
3 shape: (945, 22)
4 shape: (945, 22)
5 shape: (945, 22)
0                                                    NaN
1                                            Investments
2       Non-controlled/non-affiliate company investments
3                                       Debt investments
4                                  Aerospace and Defense
                             ...
940                         Equity Investments  (12)(13)
941                        Investment Funds and Vehicles
942                        Senior Loan Fund LLC  (8)(17)
943    Total controlled affiliate company equity inve...
944                                    Total investments
Name: 0, Length: 945, dtype: object
6 shape: (944, 22)
7 shape: (944, 22)


June_30_2019
1 shape: (994, 24)
2 shape: (994, 24)
0 shape: (988, 24)
3 shape: (988, 22)
4 shape: (988, 22)
5 shape: (988, 22)
0                                                    NaN
1                                            Investments
2       Non-controlled/non-affiliate company investments
3                                       Debt investments
4                                  Aerospace and Defense
                             ...
983                         Equity Investments  (14)(15)
984                        Investment Funds and Vehicles
985                        Senior Loan Fund LLC  (8)(19)
986    Total controlled affiliate company equity inve...
987                                    Total investments
Name: 0, Length: 988, dtype: object
6 shape: (987, 22)
7 shape: (987, 22)


September_30_2019
1 shape: (1096, 25)
2 shape: (1096, 25)
0 shape: (1089, 25)
3 shape: (1089, 23)
4 shape: (1089, 23)
5 shape: (1089, 23)
0                              Description of the Matter
1               How We Addressed the Matter in Our Audit
2                                                    NaN
3                                            Investments
4       Non-controlled/non-affiliate company investments
                              ...
1084                       Investment Funds and Vehicles
1085                  GCIC Senior Loan Fund LLC  (8)(18)
1086                       Senior Loan Fund LLC  (8)(18)
1087       Total controlled affiliate equity investments
1088                                   Total investments
Name: 0, Length: 1089, dtype: object
6 shape: (1088, 23)
7 shape: (1088, 23)


December_31_2019
1 shape: (1149, 25)
2 shape: (1149, 25)
0 shape: (1143, 25)
3 shape: (1143, 23)
4 shape: (1143, 23)
5 shape: (1143, 23)

In [252]:
process_tables['March_31_2013'].to_csv('test.csv')

In [306]:
soi_table_df = process_tables['March_31_2013']

In [307]:
soi_table_df

,0,2,4,5,7,9,10,13,16,17,19,21,22,25,26,29,30
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Percentage,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Investment,Spread Above,NaN,Interest,NaN,Maturity,Principal,NaN,NaN,of,NaN,Fair,NaN,NaN,NaN,NaN
2,NaN,Type,Index (1),NaN,Rate (2),NaN,Date,Amount,Cost,NaN,Net Assets,NaN,Value,NaN,NaN,NaN,NaN
3,Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,Vision Source L.P.,Common stock,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5389,NaN,1.2,NaN,5667,NaN
421,Total equity investments United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23540,NaN,5.2,%,26023,NaN
422,Total United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,780136,NaN,157.6,%,787520,NaN
423,Total investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,783868,NaN,157.8,%,788442,NaN

In [254]:

pattern = r'(?i)investment\s*type?|investment'
matching_rows = soi_table_df.apply(
    lambda row: row.str.contains(pattern, flags=re.IGNORECASE, regex=True).any(), axis=1)
soi_table_df = soi_table_df.loc[soi_table_df[matching_rows].index[0]:].reset_index(
    drop=True)

In [255]:
df = soi_table_df

# Define the regular expression pattern to match the variations
pattern = r'(?i)investment\s*type?|investment'

# Check if any rows match the pattern
matching_rows = soi_table_df[~soi_table_df.astype(str).apply(lambda x: x.str.contains(
    pattern, flags=re.IGNORECASE, regex=True))['Investment']]
matching_rows

KeyError: 'Investment'

In [ ]:
matching_rows

In [ ]:
pattern = r'(?i)investment\s*type?|investment'

# Create a boolean mask for rows where the pattern doesn't match
no_match_mask = ~soi_table_df.astype(str).apply(
    lambda x: x.str.contains(pattern, flags=re.IGNORECASE, regex=True)).any(axis=1)

# Filter rows based on the mask
no_match_mask

In [ ]:
import pandas as pd

# Sample DataFrame
data = {'A': [1, 2, 3],
        'B': [4, 5, 6],
        'C': [7, 8, 9]}

df = pd.DataFrame(data)

# Get the number of columns in the DataFrame
num_columns = len(df.columns)

# Initialize an empty list to store the values of the first row
first_row_values = []

# Loop through column indices and retrieve the values in the first row
for col_idx in range(num_columns):
    value = df.iloc[0, col_idx]
    first_row_values.append(value)

# Print the values of the first row for each column
for col_idx, value in enumerate(first_row_values):
    print(f"Value in column {df.columns[col_idx]} (index {col_idx}): {value}")