In [49]:
from bs4 import BeautifulSoup
import re
import unicodedata
import pandas as pd
import numpy as np
import html5lib
import requests
from openpyxl import Workbook
from datetime import datetime
import webbrowser
import os

In [71]:
path = '../Test_GBDC_Investment.xlsx'
xls = pd.ExcelFile(path)
all_sheets = pd.read_excel(path, sheet_name=None)
dataframes = {}
# Loop through each sheet and create a DataFrame in the dictionary
for sheet_name, sheet_df in all_sheets.items():
    dataframes[sheet_name.replace(' ', '_')] = sheet_df
    print(f"DataFrame name: {sheet_name} : {sheet_df.shape}")

DataFrame name: March 31 2013 : (424, 31)
DataFrame name: June 30 2013 : (432, 31)
DataFrame name: September 30 2013 : (486, 41)
DataFrame name: December 31 2013 : (443, 31)
DataFrame name: March 31 2014 : (467, 31)
DataFrame name: June 30 2014 : (482, 27)
DataFrame name: September 30 2014 : (527, 33)
DataFrame name: December 31 2014 : (506, 31)
DataFrame name: March 31 2015 : (524, 31)
DataFrame name: June 30 2015 : (571, 31)
DataFrame name: September 30 2015 : (584, 33)
DataFrame name: December 31 2015 : (505, 27)
DataFrame name: March 31 2016 : (589, 27)
DataFrame name: June 30 2016 : (564, 27)
DataFrame name: September 30 2016 : (700, 23)
DataFrame name: December 31 2016 : (646, 23)
DataFrame name: March 31 2017 : (677, 23)
DataFrame name: June 30 2017 : (699, 23)
DataFrame name: December 31 2017 : (734, 41)
DataFrame name: March 31 2018 : (766, 25)
DataFrame name: June 30 2018 : (817, 25)
DataFrame name: September 30 2018 : (883, 24)
DataFrame name: December 31 2018 : (916, 41)
DataFrame name: March 31 2019 : (951, 24)
DataFrame name: June 30 2019 : (994, 24)
DataFrame name: September 30 2019 : (1096, 25)
DataFrame name: December 31 2019 : (1149, 25)
DataFrame name: March 31 2020 : (1211, 65)
DataFrame name: June 30 2020 : (1205, 54)
DataFrame name: September 30 2020 : (1275, 64)
DataFrame name: December 31 2020 : (1318, 64)
DataFrame name: March 31 2021 : (1371, 64)
DataFrame name: June 30 2021 : (1456, 64)
DataFrame name: September 30 2021 : (1572, 64)
DataFrame name: December 31 2021 : (1621, 64)
DataFrame name: March 31 2022 : (1684, 64)
DataFrame name: June 30 2022 : (1777, 64)
DataFrame name: September 30 2022 : (1773, 76)
DataFrame name: December 31 2022 : (1769, 76)
DataFrame name: March 31 2023 : (1605, 76)
DataFrame name: June 30 2023 : (1523, 76)

In [ ]:
def process_table_fun(soi_table_df, process_tables_shapes):
    print(1, 'shape:', soi_table_df.shape)
    soi_table_df = soi_table_df.replace(r'^\s*\$\s*$', np.nan, regex=True)
    soi_table_df = soi_table_df.replace(r'\n', '', regex=True)
    print(2, 'shape:', soi_table_df.shape)
    # fewer non-null values, effectively dropping rows with more than 100 non-null values.
    # for index, row in soi_table_df.iterrows():
    #     if row.count() > 100:
    #         soi_table_df = soi_table_df.drop(index)

    pattern = r'Total\s+Investments'
    # Use the apply function to check if the pattern is in any column for each row
    matching_rows = soi_table_df.apply(
        lambda row: row.str.contains(pattern, flags=re.IGNORECASE, regex=True).any(), axis=1)
    # Find the index of the first row that matches the pattern
    # Slice the DataFrame to keep only the rows up to and including the first matching row
    if soi_table_df[matching_rows].index[0] < 20:
        soi_table_df = soi_table_df.loc[:soi_table_df[matching_rows].index[1]].reset_index(
            drop=True)
    else:
        soi_table_df = soi_table_df.loc[:soi_table_df[matching_rows].index[0]].reset_index(
            drop=True)

    print(0, 'shape:', soi_table_df.shape)
    soi_table_df = soi_table_df.dropna(how='all', axis=1).reset_index(
        drop=True)

    print(3, 'shape:', soi_table_df.shape)
    soi_table_df = soi_table_df.dropna(how='all', axis=0).reset_index(
        drop=True)

    print(4, 'shape:', soi_table_df.shape)
    soi_table_df.dropna().reset_index(
        drop=True)
    print(5, 'shape:', soi_table_df.shape)

    pattern = r'Net asset value per common share|How We Addressed the Matter in Our Audit'
    matching_rows = soi_table_df.apply(
        lambda row: row.str.contains(pattern, flags=re.IGNORECASE, regex=True).any(), axis=1)

    # Check if the pattern exists in the DataFrame
    if matching_rows.any():
        # Extract rows from the first occurrence onwards
        soi_table_df = soi_table_df.iloc[matching_rows.idxmax(
        )+1:].reset_index(drop=True)

    # Reset the index after making modifications
    soi_table_df.reset_index(drop=True, inplace=True)

    # pattern = r'(?i)investment\s*type?|investment'
    # pattern = 'Investments'
    # matching_rows = soi_table_df.apply(
    #     lambda row: row.str.contains(pattern, flags=re.IGNORECASE, regex=True).any(), axis=1)

    # if matching_rows is not None:
    #     soi_table_df = soi_table_df.loc[soi_table_df[matching_rows].index[0]:].reset_index(
    #         drop=True)

    # second_row_values = soi_table_df.iloc[1]
    # for col_idx, value in enumerate(second_row_values):
    #     if not pd.isna(value) and not pd.isna(soi_table_df.columns[col_idx]):
    #         col_name = soi_table_df.columns[col_idx]

    #         soi_table_df.rename(columns={col_name: new_col_name}, inplace=True)
    #         soi_table_df.iloc[2, col_idx] = np.nan
    # print(soi_table_df.columns)

    # soi_table_df = soi_table_df.rename(
    #     columns=soi_table_df.iloc[0]).drop(soi_table_df.index[0])

    print(6, 'shape:', soi_table_df.shape)
    soi_table_df = soi_table_df.replace('â€”', 0)
    soi_table_df = soi_table_df.replace('-', np.nan)
    print(7, 'shape:', soi_table_df.shape)

    soi_table_df = soi_table_df.applymap(
        lambda x: x.strip() if isinstance(x, str) else x)

    process_tables_shapes.append(soi_table_df.shape)

    return soi_table_df

In [ ]:
path = '/Users/fuadhassan/Desktop/BDC_RA/GBDC/process_tables_GBDC_Investment.xlsx'
writer = pd.ExcelWriter(path, engine='openpyxl')
process_tables = {}
process_tables_shape = []
for dataframe in dataframes:
    print(dataframe)
    process_tables[dataframe] = process_table_fun(
        dataframes[dataframe], process_tables_shape)
    print('\n')
    process_tables[dataframe].to_excel(
        writer, sheet_name=dataframe.replace(',', ''), index=False)
    writer.book .save(path)
writer.close()

In [ ]:
process_tables['March_31_2013'].to_csv('test.csv')

In [44]:
soi_table_df = process_tables['March_31_2013']

In [45]:
soi_table_df

,Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Leisure, Amusement, Motion Pictures,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Entertainment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Extreme Fitness, Inc.",Senior loan,NaN,NaN,NaN,10.00,%,03/2013,NaN,220,NaN,220,NaN,NaN,%,220,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,Vision Source L.P.,Common stock,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5389,NaN,1.2,NaN,5667,NaN
418,Total equity investments United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23540,NaN,5.2,%,26023,NaN
419,Total United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,780136,NaN,157.6,%,787520,NaN
420,Total investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,783868,NaN,157.8,%,788442,NaN

In [31]:

pattern = r'(?i)investment\s*type?|investment'
matching_rows = soi_table_df.apply(
    lambda row: row.str.contains(pattern, flags=re.IGNORECASE, regex=True).any(), axis=1)
soi_table_df = soi_table_df.loc[soi_table_df[matching_rows].index[0]:].reset_index(
    drop=True)
soi_table_df

,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Percentage,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,Investment,Spread Above,NaN,Interest,NaN,Maturity,Principal,NaN,NaN,of,NaN,Fair,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cost,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Debt investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,Vision Source L.P.,Common stock,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5389,NaN,1.2,NaN,5667,NaN
420,Total equity investments United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23540,NaN,5.2,%,26023,NaN
421,Total United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,780136,NaN,157.6,%,787520,NaN
422,Total investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,783868,NaN,157.8,%,788442,NaN

In [36]:
df = soi_table_df

# Define the regular expression pattern to match the variations
pattern = r'(?i)investment\s*type?|investment'

# Check if any rows match the pattern
matching_rows = soi_table_df[soi_table_df.astype(str).apply(lambda x: x.str.contains(
    pattern, flags=re.IGNORECASE, regex=True))]
matching_rows

,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Percentage,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,Investment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Debt investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420,Total equity investments United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
422,Total investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
matching_rows

In [37]:
pattern = r'(?i)investment\s*type?|investment'

# Create a boolean mask for rows where the pattern doesn't match
no_match_mask = ~soi_table_df.astype(str).apply(
    lambda x: x.str.contains(pattern, flags=re.IGNORECASE, regex=True)).any(axis=1)
# Filter rows based on the mask
no_match_mask

0      False
1       True
2      False
3       True
4      False
       ...
418     True
419     True
420    False
421     True
422    False
Length: 423, dtype: bool

In [46]:
pattern = r'(?i)investment\s*type?|investment'
# pattern = r'Spread Above'
matching_rows = soi_table_df.apply(
    lambda row: row.str.contains(pattern, flags=re.IGNORECASE, regex=True).any(), axis=1)
soi_table_df = soi_table_df[matching_rows]
soi_table_df

,Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Debt investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,"Road Infrastructure Investment, LLC (4)",Senior loan,NaN,L + 5.00%,NaN,NaN,(5),03/2017,NaN,NaN,NaN,(37,NaN,NaN,NaN,(1,NaN
81,"Road Infrastructure Investment, LLC*",Senior loan,NaN,L + 5.00%,NaN,6.25,%,03/2018,NaN,4116,NaN,4065,NaN,0.8,NaN,4147,NaN
84,NaN,Investment,Spread Above,NaN,Interest,NaN,Maturity,Principal,NaN,NaN,of Total,NaN,Fair,NaN,NaN,NaN,NaN
159,NaN,Investment,Spread Above,NaN,Interest,NaN,Maturity,Principal,NaN,NaN,of Total,NaN,Fair,NaN,NaN,NaN,NaN
237,NaN,Investment,Spread Above,NaN,Interest,NaN,Maturity,Principal,NaN,NaN,of Total,NaN,Fair,NaN,NaN,NaN,NaN
320,Total debt investments United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,768823,NaN,756596,NaN,152.4,%,761497,NaN
323,NaN,Investment,Spread Above,NaN,Interest,NaN,Maturity,Amount/Shares/,NaN,NaN,of Total,NaN,Fair,NaN,NaN,NaN,NaN
325,Equity investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
407,NaN,Investment,Spread Above,NaN,Interest,NaN,Maturity,Amount/Shares/,NaN,NaN,of Total,NaN,Fair,NaN,NaN,NaN,NaN
418,Total equity investments United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23540,NaN,5.2,%,26023,NaN
420,Total investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,783868,NaN,157.8,%,788442,NaN

In [48]:
pattern = r'(?:Spread\s*Above|cost|Percentage)'

matching_rows = soi_table_df.apply(
    lambda row: row.str.contains(pattern, flags=re.IGNORECASE, regex=True).any(), axis=1)
soi_table_df = soi_table_df[matching_rows]
soi_table_df

,Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,NaN,Investment,Spread Above,NaN,Interest,NaN,Maturity,Principal,NaN,NaN,of Total,NaN,Fair,NaN,NaN,NaN,NaN
159,NaN,Investment,Spread Above,NaN,Interest,NaN,Maturity,Principal,NaN,NaN,of Total,NaN,Fair,NaN,NaN,NaN,NaN
237,NaN,Investment,Spread Above,NaN,Interest,NaN,Maturity,Principal,NaN,NaN,of Total,NaN,Fair,NaN,NaN,NaN,NaN
323,NaN,Investment,Spread Above,NaN,Interest,NaN,Maturity,Amount/Shares/,NaN,NaN,of Total,NaN,Fair,NaN,NaN,NaN,NaN
407,NaN,Investment,Spread Above,NaN,Interest,NaN,Maturity,Amount/Shares/,NaN,NaN,of Total,NaN,Fair,NaN,NaN,NaN,NaN

In [170]:
def process_table_fun(soi_table_df, process_tables_shapes):
    print(1, 'shape:', soi_table_df.shape)
    soi_table_df = soi_table_df.replace(r'^\s*\$\s*$', np.nan, regex=True)
    soi_table_df = soi_table_df.replace(r'\n', '', regex=True)
    print(2, 'shape:', soi_table_df.shape)
    print(6, 'shape:', soi_table_df.shape)
    soi_table_df = soi_table_df.replace('â€”', 0)
    soi_table_df = soi_table_df.replace('-', 0)
    print(7, 'shape:', soi_table_df.shape)
    soi_table_df.reset_index(drop=True, inplace=True)

    soi_table_df = soi_table_df.applymap(
        lambda x: x.strip() if isinstance(x, str) else x)

    pattern = r'Total\s+Investments'
    # Use the apply function to check if the pattern is in any column for each row
    matching_rows = soi_table_df.apply(
        lambda row: row.str.contains(pattern, flags=re.IGNORECASE, regex=True).any(), axis=1)
    # Find the index of the first row that matches the pattern
    # Slice the DataFrame to keep only the rows up to and including the first matching row
    if soi_table_df[matching_rows].index[0] < 20:
        soi_table_df = soi_table_df.loc[:soi_table_df[matching_rows].index[1]].reset_index(
            drop=True)
    else:
        soi_table_df = soi_table_df.loc[:soi_table_df[matching_rows].index[0]].reset_index(
            drop=True)

# removest end extra
    pattern = r'Net asset value per common share|How We Addressed the Matter in Our Audit'
    matching_rows = soi_table_df.apply(
        lambda row: row.str.contains(pattern, flags=re.IGNORECASE, regex=True).any(), axis=1)

    # Check if the pattern exists in the DataFrame
    if matching_rows.any():
        # Extract rows from the first occurrence onwards
        soi_table_df = soi_table_df.iloc[matching_rows.idxmax(
        )+1:].reset_index(drop=True)

    # removing all col name
    pattern = r'(?:Spread\s*Above|cost|Percentage|Above)'
    matching_rows = soi_table_df.apply(
        lambda row: row.str.contains(pattern, flags=re.IGNORECASE, regex=True).any(), axis=1)
    soi_table_df = soi_table_df[~matching_rows]

    print(0, 'shape:', soi_table_df.shape)
    soi_table_df = soi_table_df.dropna(how='all', axis=1).reset_index(
        drop=True)
    print(3, 'shape:', soi_table_df.shape)
    soi_table_df = soi_table_df.dropna(how='all', axis=0).reset_index(
        drop=True)
    print(4, 'shape:', soi_table_df.shape)
    soi_table_df.dropna().reset_index(
        drop=True)
    print(5, 'shape:', soi_table_df.shape)


# drops the sub total
    soi_table_df = soi_table_df.dropna(subset=[soi_table_df.columns[0]])

    num_cols = soi_table_df.shape[1]
    data_col_mapper = dict(zip(soi_table_df.columns.to_list(), [
        i for i in range(0, num_cols)]))
    soi_table_df = soi_table_df.rename(columns=data_col_mapper)

    # for index, row in soi_table_df.iterrows():
    #     for column in soi_table_df.columns:
    #         if pd.isna(row[column]):
    #             # Find the next column in the same row
    #             next_column = soi_table_df.columns.get_loc(column) + 1
    #             if next_column < len(soi_table_df.columns):
    #                 next_column_name = soi_table_df.columns[next_column]
    #                 # Replace NaN value with the value from the next column
    #                 soi_table_df.at[index, column] = row[next_column_name]
    #                 # Set the next column to NaN
    #                 soi_table_df.at[index, next_column_name] = np.nan

    for index, row in soi_table_df.iterrows():
        for column in soi_table_df.columns:
            if pd.isna(row[column]):
                while True:
                    # Find the next column in the same row
                    next_column = soi_table_df.columns.get_loc(column) + 1
                    if next_column < len(soi_table_df.columns):
                        next_column_name = soi_table_df.columns[next_column]
                        # Replace NaN value with the value from the next column
                        soi_table_df.at[index, column] = row[next_column_name]
                        # Set the next column to NaN
                        soi_table_df.at[index, next_column_name] = np.nan
                        column = next_column_name
                    else:
                        # No more columns to replace, break out of the loop
                        break

    soi_table_df = soi_table_df.dropna(axis=1, thresh=10)
    soi_table_df = soi_table_df.dropna(how='all', axis=1).reset_index(
        drop=True)

    process_tables_shapes.append(soi_table_df.shape)
    print(soi_table_df.info())

    return soi_table_df


path = '/Users/fuadhassan/Desktop/BDC_RA/GBDC/process_tables_GBDC_Investment.xlsx'
writer = pd.ExcelWriter(path, engine='openpyxl')
process_tables = {}
process_tables_shape = []
for dataframe in dataframes:
    print(dataframe)
    process_tables[dataframe] = process_table_fun(
        dataframes[dataframe], process_tables_shape)
    print('\n')
    process_tables[dataframe].to_excel(
        writer, sheet_name=dataframe.replace(',', ''), index=False)
    writer.book .save(path)
writer.close()

March_31_2013
1 shape: (424, 31)
2 shape: (424, 31)
6 shape: (424, 31)
7 shape: (424, 31)
0 shape: (404, 31)
3 shape: (404, 11)
4 shape: (404, 11)
5 shape: (404, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370 entries, 0 to 369
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       370 non-null    object
 1   1       310 non-null    object
 2   2       249 non-null    object
 3   3       251 non-null    object
 4   4       315 non-null    object
 5   5       315 non-null    object
 6   6       315 non-null    object
 7   7       314 non-null    object
 8   8       240 non-null    object
 9   9       170 non-null    object
dtypes: object(10)
memory usage: 29.0+ KB
None


June_30_2013
1 shape: (432, 31)
2 shape: (432, 31)
6 shape: (432, 31)
7 shape: (432, 31)
0 shape: (408, 31)
3 shape: (408, 21)
4 shape: (408, 21)
5 shape: (408, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370 entries, 0 to 369
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       370 non-null    object
 1   1       312 non-null    object
 2   2       241 non-null    object
 3   3       245 non-null    object
 4   4       32 non-null     object
 5   5       245 non-null    object
 6   6       275 non-null    object
 7   7       317 non-null    object
 8   8       316 non-null    object
 9   9       200 non-null    object
 10  10      153 non-null    object
 11  11      166 non-null    object
 12  12      92 non-null     object
 13  13      156 non-null    object
dtypes: object(14)
memory usage: 40.6+ KB
None


September_30_2013
1 shape: (486, 41)
2 shape: (486, 41)
6 shape: (486, 41)
7 shape: (486, 41)
0 shape: (425, 41)
3 shape: (425, 11)
4 shape: (425, 11)
5 shape: (425, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386 entries, 0 to 385
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       386 non-null    object
 1   1       328 non-null    object
 2   2       264 non-null    object
 3   3       266 non-null    object
 4   4       333 non-null    object
 5   5       333 non-null    object
 6   6       333 non-null    object
 7   7       333 non-null    object
 8   8       259 non-null    object
 9   9       179 non-null    object
dtypes: object(10)
memory usage: 30.3+ KB
None


December_31_2013
1 shape: (443, 31)
2 shape: (443, 31)
6 shape: (443, 31)
7 shape: (443, 31)
0 shape: (420, 31)
3 shape: (420, 21)
4 shape: (420, 21)
5 shape: (420, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382 entries, 0 to 381
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       382 non-null    object
 1   1       329 non-null    object
 2   2       257 non-null    object
 3   3       257 non-null    object
 4   4       32 non-null     object
 5   5       260 non-null    object
 6   6       290 non-null    object
 7   7       333 non-null    object
 8   8       333 non-null    object
 9   9       204 non-null    object
 10  10      165 non-null    object
 11  11      168 non-null    object
 12  12      102 non-null    object
 13  13      163 non-null    object
dtypes: object(14)
memory usage: 41.9+ KB
None


March_31_2014
1 shape: (467, 31)
2 shape: (467, 31)
6 shape: (467, 31)
7 shape: (467, 31)
0 shape: (440, 31)
3 shape: (440, 16)
4 shape: (440, 16)
5 shape: (440, 16)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403 entries, 0 to 402
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       403 non-null    object
 1   1       343 non-null    object
 2   2       271 non-null    object
 3   3       271 non-null    object
 4   4       347 non-null    object
 5   5       347 non-null    object
 6   6       345 non-null    object
 7   7       198 non-null    object
 8   8       150 non-null    object
 9   9       199 non-null    object
 10  10      75 non-null     object
 11  11      195 non-null    object
dtypes: object(12)
memory usage: 37.9+ KB
None


June_30_2014
1 shape: (482, 27)
2 shape: (482, 27)
6 shape: (482, 27)
7 shape: (482, 27)
0 shape: (450, 27)
3 shape: (450, 17)
4 shape: (450, 17)
5 shape: (450, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416 entries, 0 to 415
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       416 non-null    object
 1   1       359 non-null    object
 2   2       283 non-null    object
 3   3       283 non-null    object
 4   4       363 non-null    object
 5   5       362 non-null    object
 6   6       285 non-null    object
 7   7       276 non-null    object
 8   8       89 non-null     object
 9   9       275 non-null    object
 10  10      87 non-null     object
 11  11      197 non-null    object
dtypes: object(12)
memory usage: 39.1+ KB
None


September_30_2014
1 shape: (527, 33)
2 shape: (527, 33)
6 shape: (527, 33)
7 shape: (527, 33)
0 shape: (472, 33)
3 shape: (472, 10)
4 shape: (472, 10)
5 shape: (472, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436 entries, 0 to 435
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       436 non-null    object
 1   1       376 non-null    object
 2   2       288 non-null    object
 3   3       289 non-null    object
 4   4       380 non-null    object
 5   5       380 non-null    object
 6   6       380 non-null    object
 7   7       376 non-null    object
 8   8       287 non-null    object
 9   9       192 non-null    object
dtypes: object(10)
memory usage: 34.2+ KB
None


December_31_2014
1 shape: (506, 31)
2 shape: (506, 31)
6 shape: (506, 31)
7 shape: (506, 31)
0 shape: (470, 31)
3 shape: (470, 18)
4 shape: (470, 18)
5 shape: (470, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       434 non-null    object
 1   1       379 non-null    object
 2   2       292 non-null    object
 3   3       292 non-null    object
 4   4       347 non-null    object
 5   5       383 non-null    object
 6   6       345 non-null    object
 7   7       231 non-null    object
 8   8       153 non-null    object
 9   9       231 non-null    object
 10  10      135 non-null    object
 11  11      194 non-null    object
dtypes: object(12)
memory usage: 40.8+ KB
None


March_31_2015
1 shape: (524, 31)
2 shape: (524, 31)
6 shape: (524, 31)
7 shape: (524, 31)
0 shape: (489, 31)
3 shape: (489, 13)
4 shape: (489, 13)
5 shape: (489, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449 entries, 0 to 448
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       449 non-null    object
 1   1       392 non-null    object
 2   2       294 non-null    object
 3   3       295 non-null    object
 4   4       396 non-null    object
 5   5       396 non-null    object
 6   6       396 non-null    object
 7   7       396 non-null    object
 8   8       295 non-null    object
 9   9       199 non-null    object
dtypes: object(10)
memory usage: 35.2+ KB
None


June_30_2015
1 shape: (571, 31)
2 shape: (571, 31)
6 shape: (571, 31)
7 shape: (571, 31)
0 shape: (532, 31)
3 shape: (532, 13)
4 shape: (532, 13)
5 shape: (532, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477 entries, 0 to 476
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       477 non-null    object
 1   1       419 non-null    object
 2   2       311 non-null    object
 3   3       312 non-null    object
 4   4       423 non-null    object
 5   5       423 non-null    object
 6   6       423 non-null    object
 7   7       423 non-null    object
 8   8       312 non-null    object
 9   9       211 non-null    object
dtypes: object(10)
memory usage: 37.4+ KB
None


September_30_2015
1 shape: (584, 33)
2 shape: (584, 33)
6 shape: (584, 33)
7 shape: (584, 33)
0 shape: (529, 33)
3 shape: (529, 12)
4 shape: (529, 12)
5 shape: (529, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 487 entries, 0 to 486
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       487 non-null    object
 1   1       422 non-null    object
 2   2       305 non-null    object
 3   3       214 non-null    object
 4   4       426 non-null    object
 5   5       426 non-null    object
 6   6       425 non-null    object
 7   7       426 non-null    object
 8   8       313 non-null    object
 9   9       298 non-null    object
dtypes: object(10)
memory usage: 38.2+ KB
None


December_31_2015
1 shape: (505, 27)
2 shape: (505, 27)
6 shape: (505, 27)
7 shape: (505, 27)
0 shape: (466, 27)
3 shape: (466, 20)
4 shape: (466, 20)
5 shape: (466, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430 entries, 0 to 429
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       430 non-null    object
 1   1       382 non-null    object
 2   2       263 non-null    object
 3   3       263 non-null    object
 4   4       179 non-null    object
 5   5       257 non-null    object
 6   6       118 non-null    object
 7   8       259 non-null    object
 8   9       121 non-null    object
 9   11      259 non-null    object
 10  12      121 non-null    object
 11  13      11 non-null     object
 12  14      259 non-null    object
 13  16      121 non-null    object
 14  18      259 non-null    object
dtypes: object(15)
memory usage: 50.5+ KB
None


March_31_2016
1 shape: (589, 27)
2 shape: (589, 27)
6 shape: (589, 27)
7 shape: (589, 27)
0 shape: (557, 27)
3 shape: (557, 16)
4 shape: (557, 16)
5 shape: (557, 16)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       515 non-null    object
 1   1       441 non-null    object
 2   2       318 non-null    object
 3   3       318 non-null    object
 4   4       221 non-null    object
 5   5       312 non-null    object
 6   7       441 non-null    object
 7   9       444 non-null    object
 8   11      444 non-null    object
 9   12      16 non-null     object
 10  14      444 non-null    object
dtypes: object(11)
memory usage: 44.4+ KB
None


June_30_2016
1 shape: (564, 27)
2 shape: (564, 27)
6 shape: (564, 27)
7 shape: (564, 27)
0 shape: (519, 27)
3 shape: (519, 15)
4 shape: (519, 15)
5 shape: (519, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       479 non-null    object
 1   1       419 non-null    object
 2   2       288 non-null    object
 3   3       288 non-null    object
 4   4       424 non-null    object
 5   5       429 non-null    object
 6   6       429 non-null    object
 7   7       298 non-null    object
 8   8       146 non-null    object
 9   9       285 non-null    object
dtypes: object(10)
memory usage: 37.5+ KB
None


September_30_2016
1 shape: (700, 23)
2 shape: (700, 23)
6 shape: (700, 23)
7 shape: (700, 23)
0 shape: (634, 23)
3 shape: (634, 20)
4 shape: (634, 20)
5 shape: (634, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592 entries, 0 to 591
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       592 non-null    object
 1   1       510 non-null    object
 2   2       373 non-null    object
 3   3       380 non-null    object
 4   4       512 non-null    object
 5   5       364 non-null    object
 6   6       156 non-null    object
 7   7       367 non-null    object
 8   8       163 non-null    object
 9   9       369 non-null    object
 10  10      153 non-null    object
 11  11      367 non-null    object
 12  12      10 non-null     object
dtypes: object(13)
memory usage: 60.2+ KB
None


December_31_2016
1 shape: (646, 23)
2 shape: (646, 23)
6 shape: (646, 23)
7 shape: (646, 23)
0 shape: (627, 23)
3 shape: (627, 20)
4 shape: (627, 20)
5 shape: (627, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 587 entries, 0 to 586
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       587 non-null    object
 1   1       513 non-null    object
 2   2       377 non-null    object
 3   3       372 non-null    object
 4   4       382 non-null    object
 5   6       503 non-null    object
 6   7       10 non-null     object
 7   9       499 non-null    object
 8   11      20 non-null     object
 9   12      496 non-null    object
 10  13      13 non-null     object
 11  14      13 non-null     object
 12  15      505 non-null    object
 13  16      11 non-null     object
 14  18      10 non-null     object
dtypes: object(15)
memory usage: 68.9+ KB
None


March_31_2017
1 shape: (677, 23)
2 shape: (677, 23)
6 shape: (677, 23)
7 shape: (677, 23)
0 shape: (656, 23)
3 shape: (656, 20)
4 shape: (656, 20)
5 shape: (656, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       614 non-null    object
 1   1       540 non-null    object
 2   2       400 non-null    object
 3   3       394 non-null    object
 4   4       405 non-null    object
 5   6       524 non-null    object
 6   7       10 non-null     object
 7   8       13 non-null     object
 8   9       519 non-null    object
 9   11      26 non-null     object
 10  12      516 non-null    object
 11  13      14 non-null     object
 12  14      19 non-null     object
 13  15      526 non-null    object
 14  16      11 non-null     object
 15  18      10 non-null     object
dtypes: object(16)
memory usage: 76.9+ KB
None


June_30_2017
1 shape: (699, 23)
2 shape: (699, 23)
6 shape: (699, 23)
7 shape: (699, 23)
0 shape: (680, 23)
3 shape: (680, 20)
4 shape: (680, 20)
5 shape: (680, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       640 non-null    object
 1   1       573 non-null    object
 2   2       432 non-null    object
 3   3       426 non-null    object
 4   4       435 non-null    object
 5   6       556 non-null    object
 6   7       10 non-null     object
 7   8       11 non-null     object
 8   9       553 non-null    object
 9   11      23 non-null     object
 10  12      551 non-null    object
 11  14      19 non-null     object
 12  15      557 non-null    object
 13  16      11 non-null     object
 14  18      10 non-null     object
dtypes: object(15)
memory usage: 75.1+ KB
None


December_31_2017
1 shape: (734, 41)
2 shape: (734, 41)
6 shape: (734, 41)
7 shape: (734, 41)
0 shape: (711, 41)
3 shape: (711, 21)
4 shape: (711, 21)
5 shape: (711, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671 entries, 0 to 670
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       671 non-null    object
 1   1       599 non-null    object
 2   2       459 non-null    object
 3   3       466 non-null    object
 4   4       338 non-null    object
 5   5       471 non-null    object
 6   7       583 non-null    object
 7   8       11 non-null     object
 8   9       13 non-null     object
 9   10      576 non-null    object
 10  12      27 non-null     object
 11  13      573 non-null    object
 12  14      14 non-null     object
 13  15      20 non-null     object
 14  16      584 non-null    object
 15  17      12 non-null     object
 16  19      12 non-null     float64
dtypes: float64(1), object(16)
memory usage: 89.2+ KB
None


March_31_2018
1 shape: (766, 25)
2 shape: (766, 25)
6 shape: (766, 25)
7 shape: (766, 25)
0 shape: (745, 25)
3 shape: (745, 22)
4 shape: (745, 22)
5 shape: (745, 22)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 707 entries, 0 to 706
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       707 non-null    object
 1   1       636 non-null    object
 2   2       486 non-null    object
 3   3       370 non-null    object
 4   4       494 non-null    object
 5   6       495 non-null    object
 6   8       622 non-null    object
 7   9       11 non-null     object
 8   10      11 non-null     object
 9   11      615 non-null    object
 10  13      25 non-null     object
 11  14      612 non-null    object
 12  15      14 non-null     object
 13  16      18 non-null     object
 14  17      623 non-null    object
 15  18      12 non-null     object
 16  20      12 non-null     object
dtypes: object(17)
memory usage: 94.0+ KB
None


June_30_2018
1 shape: (817, 25)
2 shape: (817, 25)
6 shape: (817, 25)
7 shape: (817, 25)
0 shape: (782, 25)
3 shape: (782, 21)
4 shape: (782, 21)
5 shape: (782, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 745 entries, 0 to 744
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       745 non-null    object
 1   1       673 non-null    object
 2   2       519 non-null    object
 3   3       530 non-null    object
 4   4       393 non-null    object
 5   5       535 non-null    object
 6   7       660 non-null    object
 7   8       13 non-null     object
 8   10      654 non-null    object
 9   12      24 non-null     object
 10  13      651 non-null    object
 11  14      14 non-null     object
 12  15      16 non-null     object
 13  16      662 non-null    object
 14  17      13 non-null     object
 15  19      13 non-null     float64
dtypes: float64(1), object(15)
memory usage: 93.2+ KB
None


September_30_2018
1 shape: (883, 24)
2 shape: (883, 24)
6 shape: (883, 24)
7 shape: (883, 24)
0 shape: (827, 24)
3 shape: (827, 20)
4 shape: (827, 20)
5 shape: (827, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786 entries, 0 to 785
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       786 non-null    object
 1   1       709 non-null    object
 2   2       547 non-null    object
 3   3       558 non-null    object
 4   4       409 non-null    object
 5   5       562 non-null    object
 6   6       698 non-null    object
 7   7       15 non-null     object
 8   9       690 non-null    object
 9   11      23 non-null     object
 10  12      687 non-null    object
 11  13      15 non-null     object
 12  14      15 non-null     object
 13  15      697 non-null    object
 14  16      15 non-null     object
 15  18      15 non-null     object
dtypes: object(16)
memory usage: 98.4+ KB
None


December_31_2018
1 shape: (916, 41)
2 shape: (916, 41)
6 shape: (916, 41)
7 shape: (916, 41)
0 shape: (887, 41)
3 shape: (887, 20)
4 shape: (887, 20)
5 shape: (887, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 849 entries, 0 to 848
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       849 non-null    object
 1   1       775 non-null    object
 2   2       607 non-null    object
 3   3       615 non-null    object
 4   4       620 non-null    object
 5   5       778 non-null    object
 6   6       461 non-null    object
 7   8       756 non-null    object
 8   10      23 non-null     object
 9   11      753 non-null    object
 10  12      15 non-null     object
 11  14      774 non-null    object
 12  16      16 non-null     object
dtypes: object(13)
memory usage: 86.4+ KB
None


March_31_2019
1 shape: (951, 24)
2 shape: (951, 24)
6 shape: (951, 24)
7 shape: (951, 24)
0 shape: (923, 24)
3 shape: (923, 19)
4 shape: (923, 19)
5 shape: (923, 19)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883 entries, 0 to 882

In [112]:
pattern = r'(?:Spread\s*Above|cost|Percentage|Above)'
matching_rows = soi_table_df.apply(
    lambda row: row.str.contains(pattern, flags=re.IGNORECASE, regex=True).any(), axis=1)
soi_table_df = soi_table_df[~matching_rows]
soi_table_df

,1,2,4,5,6,8,9,10,11,13,...,17,18,19,20,21,22,23,24,25,26
0,Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Non-controlled/non-affiliate company investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Debt investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aerospace and Defense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"PPW Aero Buyer, Inc.+",One stop,SF +,7.00 %,(m),11.90 %,NaN,NaN,NaN,02/2029,...,NaN,NaN,NaN,24187,NaN,NaN,1.0,%,NaN,24888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458,MMan Acquisition Co.+(23),One stop,NaN,NaN,NaN,12.00 %,PIK,NaN,NaN,08/2023,...,NaN,275,NaN,NaN,0,NaN,275,NaN,NaN,NaN
1459,MMan Acquisition Co.+(23),One stop,NaN,NaN,NaN,12.00 %,PIK,NaN,NaN,08/2023,...,NaN,849,NaN,NaN,0,NaN,849,NaN,NaN,NaN
1460,Total controlled affiliate company debt invest...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,23261,NaN,NaN,0.5,%,NaN,13579,NaN
1461,Total controlled affiliate company investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23261,NaN,NaN,0.5,%,NaN,13579,NaN,NaN,NaN
1462,Total investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,219.6,%,NaN,5525009,NaN,NaN,NaN,NaN,NaN

In [113]:
soi_table_df = soi_table_df.dropna(subset=[soi_table_df.columns[0]])
soi_table_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1392 entries, 0 to 1462
Data columns (total 22 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       1392 non-null   object
 1   2       1294 non-null   object
 2   4       1026 non-null   object
 3   5       1026 non-null   object
 4   6       851 non-null    object
 5   8       1063 non-null   object
 6   9       152 non-null    object
 7   10      116 non-null    object
 8   11      116 non-null    object
 9   13      1045 non-null   object
 10  15      1268 non-null   object
 11  16      32 non-null     object
 12  17      4 non-null      object
 13  18      1255 non-null   object
 14  19      16 non-null     object
 15  20      80 non-null     object
 16  21      1214 non-null   object
 17  22      58 non-null     object
 18  23      1252 non-null   object
 19  24      34 non-null     object
 20  25      12 non-null     object
 21  26      32 non-null     object
dtypes: object(22)
memory usage: 250.1+ KB

In [150]:
soi_table_df = process_tables['December_31_2013']

for index, row in soi_table_df.iterrows():
    for column in soi_table_df.columns:
        if pd.isna(row[column]):

            # Find the next column in the same row
            next_column = soi_table_df.columns.get_loc(column) + 1
            if next_column < len(soi_table_df.columns):
                next_column_name = soi_table_df.columns[next_column]
                # Replace NaN value with the value from the next column
                soi_table_df.at[index, column] = row[next_column_name]
                # Set the next column to NaN
                soi_table_df.at[index, next_column_name] = np.nan


soi_table_df.to_csv('test.csv')

In [166]:
soi_table_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382 entries, 0 to 381
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       382 non-null    object
 1   1       333 non-null    object
 2   2       333 non-null    object
 3   3       333 non-null    object
 4   4       333 non-null    object
 5   5       333 non-null    object
 6   6       333 non-null    object
 7   7       329 non-null    object
 8   8       264 non-null    object
 9   9       260 non-null    object
 10  10      184 non-null    object
 11  11      0 non-null      object
 12  12      0 non-null      object
 13  13      0 non-null      object
 14  14      0 non-null      object
 15  15      0 non-null      object
 16  16      0 non-null      object
 17  17      0 non-null      object
 18  18      0 non-null      object
dtypes: object(19)
memory usage: 56.8+ KB

In [156]:
soi_table_df = process_tables['December_31_2013']

for index, row in soi_table_df.iterrows():
    columns_to_fill = []
    for column in soi_table_df.columns:
        if pd.notna(row[column]):
            if columns_to_fill:
                for col_to_fill in columns_to_fill:
                    soi_table_df.at[index, col_to_fill] = row[column]
                columns_to_fill = []
        else:
            columns_to_fill.append(column)

soi_table_df.to_csv('test_2.csv')
soi_table_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Debt investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aerospace and Defense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"ILC Dover, LP",Senior loan,P + 5.00,%,8.25,%,07/2017,21,15,0,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377,Telecommunications,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
378,"ITC Global, Inc.",Preferred stock,17,17,17,311,0.1,311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379,Total equity investments United States,33626,33626,33626,33626,6.5,42605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380,Total United States,1166589,1166589,1166589,1166589,178.8,1179919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
381,Total Investments,1166589,1166589,1166589,1166589,178.8,1179919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [155]:
soi_table_df = process_tables['December_31_2013']

for index, row in soi_table_df.iterrows():
    for column in soi_table_df.columns:
        if pd.isna(row[column]):
            while True:
                # Find the next column in the same row
                next_column = soi_table_df.columns.get_loc(column) + 1
                if next_column < len(soi_table_df.columns):
                    next_column_name = soi_table_df.columns[next_column]
                    # Replace NaN value with the value from the next column
                    soi_table_df.at[index, column] = row[next_column_name]
                    # Set the next column to NaN
                    soi_table_df.at[index, next_column_name] = np.nan
                    column = next_column_name
                else:
                    # No more columns to replace, break out of the loop
                    break

soi_table_df.to_csv('test.csv')
soi_table_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Debt investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aerospace and Defense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"ILC Dover, LP",Senior loan,P + 5.00,%,8.25,%,07/2017,21,15,0,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377,Telecommunications,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
378,"ITC Global, Inc.",Preferred stock,NaN,NaN,17,311,0.1,311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379,Total equity investments United States,NaN,NaN,NaN,33626,6.5,42605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380,Total United States,NaN,NaN,NaN,1166589,178.8,1179919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
381,Total Investments,NaN,NaN,NaN,1166589,178.8,1179919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [159]:
dataframes['December_31_2013'].to_csv('Test_3.csv')

In [171]:
process_tables_shape

[(370, 10),
 (370, 14),
 (386, 10),
 (382, 14),
 (403, 12),
 (416, 12),
 (436, 10),
 (434, 12),
 (449, 10),
 (477, 10),
 (487, 10),
 (430, 15),
 (515, 11),
 (479, 10),
 (592, 13),
 (587, 15),
 (614, 16),
 (640, 15),
 (671, 17),
 (707, 17),
 (745, 16),
 (786, 16),
 (849, 13),
 (883, 15),
 (925, 15),
 (1021, 15),
 (1073, 16),
 (1116, 14),
 (1115, 14),
 (1147, 18),
 (1185, 17),
 (1237, 14),
 (1318, 16),
 (1429, 14),
 (1443, 14),
 (1541, 17),
 (1634, 17),
 (1627, 16),
 (1630, 16),
 (1470, 16),
 (1392, 16)]